<!-- About Us Start -->
<section class="main-about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div
          class="about-us-img-box wow left-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <div
            class="about-us-img back-img"
            style="
              background-image: url('assets/img/Dr. G. I. S. Omonuwa about image.png');
            "
          ></div>
          <div class="about-counter-box" id="about_counter">
            <h3 class="h3-title">
              <span data-count="584" class="counting">0</span>+
            </h3>
            <h4 class="h4-title">Case Solved</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 align-self-center">
        <div
          class="about-us-content wow right-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <span class="sub-title">ABOUT US</span>
          <h2 class="h2-title">Professional Legal Help</h2>
          <p>
            Our law firm has been in the business since 1984, and we have gained
            the respect of multiple clients. We appreciate your trust and your
            time that you give to help you fight for the cases. We cover all the
            possible areas of law. We protect the innocent and help our clients
            fight for their rights. Our lawyers have won the majority of the
            cases in a record time.
          </p>

          <div class="faq-accordion">
            <div class="faq-accordion-box">
              <div class="faq-accordion-title">
                <h4 class="h4-title">Our Mission</h4>
                <span class="icon"><i class="fas fa-arrow-right"></i></span>
              </div>
              <div class="faq-accordion-content">
                <p>
                  Our mission is to deliver unparalleled legal services, protect
                  clients’ rights, and provide innovative solutions tailored to
                  meet their unique needs.
                </p>
              </div>
            </div>
            <div class="faq-accordion-box">
              <div class="faq-accordion-title">
                <h4 class="h4-title">Our Vision</h4>
                <span class="icon"><i class="fas fa-arrow-right"></i></span>
              </div>
              <div class="faq-accordion-content">
                <p>
                  Our vision is to be the leading legal firm, delivering
                  innovative, client-focused solutions with unwavering
                  commitment to justice and excellence.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Us End -->
