<div class="get-in-touch">
  <h4 class="h4-title">Get In Touch</h4>
  <div class="get-in-touch-form">
    <form>
      <div class="form-box">
        <input
          type="text"
          class="form-input"
          placeholder="Full Name*"
          required
          autocomplete="off"
        />
      </div>
      <div class="form-box">
        <input
          type="email"
          class="form-input"
          placeholder="Email Address*"
          required
          autocomplete="off"
        />
      </div>
      <div class="form-box">
        <textarea class="form-input" placeholder="Message..."></textarea>
      </div>
      <div class="form-box">
        <button type="submit" class="sec-btn">
          <span>Submit Now</span>
        </button>
      </div>
    </form>
  </div>
</div>
