<!-- Case Study Start -->
<section class="main-case-study">
  <div class="case-study-slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="case-study-box">
          <img
            src="/assets/img/Legal-Masters.jpg"
            width="480"
            height="610"
            alt="Employment Law"
          />
          <div class="case-study-box-content">
            <h4 class="h4-title">
              <a href="/services/employment-law" title="Employment Law"
                >Employment Law</a
              >
            </h4>
            <div class="case-study-box-text">
              <p>
                Expert legal practitioners delivering exceptional solutions in
                litigation, arbitration, property law, and corporate advisory
                services.
              </p>
              <a
                href="/services/employment-law"
                class="arrow-btn"
                title="Employment Law"
                ><i class="fas fa-arrow-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="case-study-box">
          <img
            src="/assets/img/legal-practitioner.webp"
            width="480"
            height="610"
            alt="Justice Advocate"
          />
          <div class="case-study-box-content">
            <h4 class="h4-title">
              <a href="/services/justice-advocate" title="Justice Advocate"
                >Justice Advocate</a
              >
            </h4>
            <div class="case-study-box-text">
              <p>
                Championing fairness and equity, Dr. G. I. S. Omonuwa & Co.
                delivers trusted legal solutions for all.
              </p>
              <a
                href="/services/justice-advocate"
                class="arrow-btn"
                title="Justice Advocate"
                ><i class="fas fa-arrow-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="case-study-box">
          <img
            src="/assets/img/Right-Defenders.jpg"
            width="480"
            height="610"
            alt="Global Lawyer"
          />
          <div class="case-study-box-content">
            <h4 class="h4-title">
              <a href="/services/global-lawyer" title="Global Lawyer"
                >Global Lawyer</a
              >
            </h4>
            <div class="case-study-box-text">
              <p>
                Defending your rights with unwavering commitment, expert
                counsel, and personalized legal solutions for every unique
                challenge.
              </p>
              <a
                href="/services/global-lawyer"
                class="arrow-btn"
                title="Global Lawyer"
                ><i class="fas fa-arrow-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="case-study-box">
          <img
            src="/assets/img/Legal-Masters.jpg"
            width="480"
            height="610"
            alt="Legal Solution"
          />
          <div class="case-study-box-content">
            <h4 class="h4-title">
              <a href="/services/right-defenders" title="Right Defenders"
                >Right Defenders</a
              >
            </h4>
            <div class="case-study-box-text">
              <p>
                Expert legal solutions tailored to your needs, ensuring justice,
                protection, and success in every case we handle.
              </p>
              <a
                href="/services/right-defenders"
                class="arrow-btn"
                title="Right Defenders"
                ><i class="fas fa-arrow-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="case-study-box">
          <img
            src="/assets/img/Right-Defenders.jpg"
            width="480"
            height="610"
            alt="Road Accident Case"
          />
          <div class="case-study-box-content">
            <h4 class="h4-title">
              <a href="/services/road-accident-case" title="Road Accident Case"
                >Road Accident Case</a
              >
            </h4>
            <div class="case-study-box-text">
              <p>
                Expert legal representation for road accident cases, ensuring
                your rights are protected and you receive fair compensation.
              </p>
              <a
                href="/services/road-accident-case"
                class="arrow-btn"
                title="Road Accident Case"
                ><i class="fas fa-arrow-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
