<!-- Counter Start -->
<section class="main-counter">
  <div class="container">
    <div class="col-12">
      <div class="counter-list" id="counter">
        <div class="counter-box">
          <div class="counter-title">
            <h2 class="h1-title">
              <span class="counting" data-count="300">0</span>+
            </h2>
          </div>
          <div class="counter-text">
            <h4 class="h4-title">Trusting <span>Clients</span></h4>
          </div>
        </div>
        <div class="counter-box">
          <div class="counter-title">
            <h2 class="h1-title">
              <span class="counting" data-count="99">0</span>%
            </h2>
          </div>
          <div class="counter-text">
            <h4 class="h4-title">Successful <span>Cases</span></h4>
          </div>
        </div>
        <div class="counter-box">
          <div class="counter-title">
            <h2 class="h1-title">
              <span class="counting" data-count="40">0</span>
            </h2>
          </div>
          <div class="counter-text">
            <h4 class="h4-title">Years of <span>Experience</span></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
