      <!-- Footer Start -->
      <footer class="site-footer">
        <div class="container">
          <div class="footer-top">
            <div class="row">
              <div class="col-lg-3">
                <div class="footer-info">
                  <h4 class="h4-title footer-title">About Us</h4>
                  <p>
                    At Dr. G. I. S. Omonuwa & Co., we provide exceptional legal
                    solutions, combining expertise, integrity, and dedication to
                    protect your interests.
                  </p>
                  <div class="social-media">
                    <a href="#"
                      ><i class="fab fa-facebook-f" aria-hidden="true"></i
                    ></a>
                    <a href="#"
                      ><i class="fab fa-instagram" aria-hidden="true"></i
                    ></a>
                    <a
                      href="#"
                      title="Follow on LinkedIn"
                      target="_blank"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-md-3">
                <div class="footer-link-wp">
                  <div class="footer-link">
                    <h4 class="h4-title footer-title">Our Links</h4>
                    <ul>
                      <li>
                        <a href="/">Home</a>
                      </li>
                      <li>
                        <a href="/our-firm">Our Firm</a>
                      </li>
                      <li>
                        <a href="/news">News</a>
                      </li>
                      <li>
                        <a href="/contact-us">Contact Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="footer-link-wp">
                  <div class="footer-link">
                    <h4 class="h4-title footer-title">Our Services</h4>
                    <ul>
                      <li>
                        <a href="/services/employment-law">Employment Law</a>
                      </li>
                      <li>
                        <a href="/services/justice-advocate">Justice Advocate</a>
                      </li>
                      <li>
                        <a href="/services/global-lawyer">Global Lawyer</a>
                      </li>
                      <li>
                        <a href="/services/right-defenders">Right Defenders</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-5">
                <div class="footer-contact">
                  <h4 class="h4-title footer-title">Contact Us</h4>
                  <ul>
                    <li>
                      <span class="icon"
                        ><i class="fas fa-map-marker-alt"></i
                      ></span>
                      <div class="text">
                        <div>
                          <a href="#"
                            >31, Aiguobasimwin Crescent, GRA, Benin City.</a
                          >
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="icon"><i class="fas fa-envelope"></i></span>
                      <div class="text">
                        <div>
                          <a href="#">info@omonuwa.com</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="icon"><i class="fas fa-phone-alt"></i></span>
                      <div class="text">
                        <div>
                          <a href="tel:+2349039442170">+234 903 944 2170</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <p>
              &copy; 2024 All Rights Reserved. | Designed by 3MTT x CodeNation
              Cohort 2 Software Development Fellows
            </p>
          </div>
        </div>
      </footer>

      <!-- Scroll To Top Start -->
      <a href="javascript:void(0);" id="scroll-to-top" class="scroll-to-top">
        <i class="fas fa-arrow-up"></i>
      </a>
    </div>

    <!-- Jquery JS Link -->
    <script src="/assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap JS Link -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>

    <!-- Swiper Slider JS Link -->
    <script src="/assets/js/swiper-bundle.min.js"></script>

    <!-- Fancybox JS Link -->
    <script src="/assets/js/jquery.fancybox.min.js"></script>

    <!-- Font Awesome JS Link -->
    <script src="/assets/js/font-awesome.min.js"></script>

    <!-- Wow Animation JS Link -->
    <script src="/assets/js/wow.min.js"></script>

    <!-- Custom JS Link -->
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/custom-scroll-count.js"></script>
