<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header-box">
          <div class="site-branding">
            <a href="/">
              <img src="/assets/img/logo-black.png" width="164" height="47" />
            </a>
          </div>
          <div class="header-menu">
            <nav class="main-navigation">
              <button class="toggle-button"><span></span></button>
              <div class="mobile-menu-box">
                <ul>
                  <li class="active"><a href="/">Home</a></li>
                  <li class="sub-items">
                    <a href="javascript:void(0);">About</a>
                    <ul class="sub-menu">
                      <li><a href="/our-firm">Our Firm</a></li>
                      <li>
                        <a href="/areas-of-practice">Areas of Practice</a>
                      </li>
                      <li><a href="/our-attorneys">Our Attorneys</a></li>
                      <li><a href="/gallery">Gallery</a></li>
                    </ul>
                  </li>
                  <li><a href="/news">News</a></li>
                  <li><a href="/faq">FAQs</a></li>
                  <li><a href="/contact-us">Contact Us</a></li>
                </ul>
                <div class="for-mob">
                  <div class="header-mob-btn">
                    <a href="/contact-us" class="sec-btn"
                      ><span>Appointment</span></a
                    >
                  </div>
                </div>
              </div>
            </nav>
            <div class="header-btn">
              <a href="/contact-us" class="sec-btn"><span>Appointment</span></a>
            </div>
            <div class="black-shadow"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
