<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>" />
    <meta
      name="keywords"
      content="Dr. G. I. S. Omonuwa, Attorney in Benin City, Lawyers in Edo State, Lawyers in Nigeria, Attorney in Nigeria,"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bootstrap.min.css"
    />

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
  </head>
</html>
