<section class="main-faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div
          class="faq-img-wp wow left-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <div
            class="faq-img1 back-img"
            style="background-image: url('assets/img/omonuwa_gallery_1.png')"
          ></div>
        </div>
      </div>
      <div class="col-lg-6 align-self-center">
        <div
          class="faq-sec-content wow right-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <span class="sub-title">How It Works</span>
          <h2 class="h2-title">We fight until you win</h2>
          <div class="faq-accordion">
            <div class="faq-accordion-box">
              <div class="faq-accordion-title">
                <h4 class="h4-title">Request a consultation</h4>
                <span class="icon"
                  ><i class="fas fa-arrow-right" aria-hidden="true"></i
                ></span>
              </div>
              <div class="faq-accordion-content">
                <p>
                  The first meeting helps our attorneys pinpoint the main issues
                  of your case and get to know you as the potential client. You
                  can either call any of the numbers in our website to book a
                  consultation or request it online.
                </p>
              </div>
            </div>
            <div class="faq-accordion-box">
              <div class="faq-accordion-title">
                <h4 class="h4-title">Sign a contract</h4>
                <span class="icon"
                  ><i class="fas fa-arrow-right" aria-hidden="true"></i
                ></span>
              </div>
              <div class="faq-accordion-content">
                <p>
                  After signing a contract with our firm, we start working on
                  the matter. This formality helps us and our clients set the
                  terms, the goals, and the main points of our cooperation.
                </p>
              </div>
            </div>
            <div class="faq-accordion-box">
              <div class="faq-accordion-title">
                <h4 class="h4-title">Investigation of a case</h4>
                <span class="icon"
                  ><i class="fas fa-arrow-right" aria-hidden="true"></i
                ></span>
              </div>
              <div class="faq-accordion-content">
                <p>
                  Doing a research is the essential process of working on a
                  client`s case. The attorneys need to investigate the case
                  prior to going to court. In fact, the investigation might take
                  quite some time to make it effective and reliable.
                </p>
              </div>
            </div>
            <div class="faq-accordion-box">
              <div class="faq-accordion-title">
                <h4 class="h4-title">Preparation of a case</h4>
                <span class="icon"
                  ><i class="fas fa-arrow-right" aria-hidden="true"></i
                ></span>
              </div>
              <div class="faq-accordion-content">
                <p>
                  This is fundamental to understanding the evidence and its
                  implications in any given matter. It enables the use of the
                  facts to support a case and provides a clear picture to
                  understand and analyze any potential problems and its
                  implications.
                </p>
              </div>
            </div>

            <div class="faq-accordion-box">
              <div class="faq-accordion-title">
                <h4 class="h4-title">Fight in a court</h4>
                <span class="icon"
                  ><i class="fas fa-arrow-right" aria-hidden="true"></i
                ></span>
              </div>
              <div class="faq-accordion-content">
                <p>
                  We will be attending court sessions to get the final
                  resolution for the case. This is an inevitable step for
                  resolving a legal issue.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
