<section class="main-subscribe">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="subscribe-box text-center wow fadeup-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <span class="sub-title">SUBSCRIBE FOR UPDATE</span>
          <h3 class="h3-title">Get Latest Legal Advice Now !</h3>
          <div class="subscribe-form">
            <form>
              <input
                type="email"
                class="form-input"
                placeholder="Email Address..."
                required
              />
              <button class="sec-btn"><span>Subscribe Now</span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
