<div class="col-lg-4">
        <div
          class="sidebar wow right-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <div class="get-in-touch">
            <h4 class="h4-title">Get In Touch</h4>
            <div class="get-in-touch-form">
              <form>
                <div class="form-box">
                  <input
                    type="text"
                    class="form-input"
                    placeholder="Full Name*"
                    required
                    autocomplete="off"
                  />
                </div>
                <div class="form-box">
                  <input
                    type="email"
                    class="form-input"
                    placeholder="Email Address*"
                    required
                    autocomplete="off"
                  />
                </div>
                <div class="form-box">
                  <textarea
                    class="form-input"
                    placeholder="Message..."
                  ></textarea>
                </div>
                <div class="form-box">
                  <button type="submit" class="sec-btn">
                    <span>Submit Now</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="download-brochure">
            <h4 class="h4-title">Download Brochure</h4>
            <div class="download-brochure-box">
              <div class="icon">
                <img
                  src="/assets/images/pdf-icon.svg"
                  width="55"
                  height="60"
                  alt="PDF"
                />
              </div>
              <div class="text">
                <p>How To Write Legal Advice Document</p>
                <p>
                  <a
                    href="https://file-examples.com/storage/fe9792139267462ed950620/2017/10/file-sample_150kB.pdf"
                    title="Download PDF"
                    target="_blank"
                    >Download (4.5MB)</a
                  >
                </p>
              </div>
            </div>
            <div class="download-brochure-box">
              <div class="icon">
                <img
                  src="/assets/images/pdf-icon.svg"
                  width="55"
                  height="60"
                  alt="PDF"
                />
              </div>
              <div class="text">
                <p>Legal Registration Form Document</p>
                <p>
                  <a
                    href="https://file-examples.com/storage/fe9792139267462ed950620/2017/10/file-sample_150kB.pdf"
                    title="Download PDF"
                    target="_blank"
                    >Download (4.5MB)</a
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="service-detail-contact">
            <div class="icon">
              <img
                src="/assets/images/call-mail-icon.svg"
                width="36"
                height="32"
                alt="Call Mail"
              />
            </div>
            <div class="text">
              <h4 class="h4-title">
                <a href="tel:919874512698" title="Call on +234 123 456 789"
                  >+234 123 456 789</a
                >
              </h4>
              <p>
                <a
                  href="mailto:info@omonuwa.com"
                  title="Mail on info@omonuwa.com
                  ><span
                    class="__cf_email__"
                    data-cfemail="f1989f979eb19d9086909294df929e9c"
                    >[email&#160;protected]</span
                  ></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>