<!-- Special Team Start -->
<section class="main-special-team">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-3 col-12">
        <div class="special-team-content">
          <span class="sub-title">SPECIAL TEAM</span>
          <h2 class="h2-title">Our Best Experts</h2>
          <p>
            At Dr. G. I. S. Omonuwa & Co., we provide exceptional legal
            solutions, combining expertise, integrity, and dedication to protect
            your interests.
          </p>
          <a href="/team" class="link-btn" title="Discover More Lawyers"
            ><span>See Our Lawyers</span>
            <i class="fas fa-arrow-right" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <div class="col-xl-9 col-12">
        <div class="special-team-list">
          <div class="team-slider swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="team-box">
                  <div class="team-img-wp">
                    <div class="team-img">
                      <img
                        src="/assets/img/omonuwa_gallery_3.png"
                        width="317"
                        height="368"
                        alt="Omoruyi A. Omonuwa, SAN"
                      />
                    </div>
                  </div>
                  <p>Principal Partner</p>
                  <h4 class="h4-title">
                    <a
                      href="/team/omoruyi-a-omonuwa"
                      title="Omoruyi A. Omonuwa, SAN"
                      >Omoruyi A. Omonuwa, SAN</a
                    >
                  </h4>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="team-box">
                  <div class="team-img-wp">
                    <div class="team-img">
                      <img
                        src="/assets/img/chinedu-okoro.PNG"
                        width="317"
                        height="368"
                        alt="Chinedu Okoro"
                      />
                    </div>
                  </div>
                  <p>Corporate Lawyer</p>
                  <h4 class="h4-title">
                    <a href="/team/chinedu-okoro" title="Chinedu Okoro"
                      >Chinedu Okoro</a
                    >
                  </h4>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="team-box">
                  <div class="team-img-wp">
                    <div class="team-img">
                      <img
                        src="/assets/img/omonuwa_gallery_6.png"
                        width="317"
                        height="368"
                        alt="Dr. (Mrs.) Ifeoma Okeke"
                      />
                    </div>
                  </div>
                  <p>Of Counsel</p>
                  <h4 class="h4-title">
                    <a
                      href="/team/dr-ifeoma-okeke"
                      title="Dr. (Mrs.) Ifeoma Okeke"
                      >Dr. (Mrs.) Ifeoma Okeke</a
                    >
                  </h4>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
