<!-- Special Team Start -->
<section class="main-special-team">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-3 col-12">
        <div class="special-team-content">
          <span class="sub-title">SPECIAL TEAM</span>
          <h2 class="h2-title">Our Best Experts</h2>
          <p>
            At Dr. G. I. S. Omonuwa & Co., we provide exceptional legal
            solutions, combining expertise, integrity, and dedication to protect
            your interests.
          </p>
          <a href="/team" class="link-btn" title="Discover More Lawyers"
            ><span>See Our Lawyers</span>
            <i class="fas fa-arrow-right" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <div class="col-xl-9 col-12">
        <div class="special-team-list">
          <div class="team-slider swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="team-box">
                  <div class="team-img-wp">
                    <div class="team-img">
                      <img
                        src="/assets/img/lawyer_placeholder.jpg"
                        width="317"
                        height="368"
                        alt="Dr. G. I. S. Omonuwa"
                      />
                    </div>
                  </div>
                  <p>Founder</p>
                  <h4 class="h4-title">
                    <a href="/team/omonuwa" title="Dr. G. I. S. Omonuwa"
                      >Dr. G. I. S. Omonuwa</a
                    >
                  </h4>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="team-box">
                  <div class="team-img-wp">
                    <div class="team-img">
                      <img
                        src="/assets/img/Barr_Odaro_Omonuwa_Esq.png"
                        width="317"
                        height="368"
                        alt="Odaro Omonuwa Esq"
                      />
                    </div>
                  </div>
                  <p>Founding Member</p>
                  <h4 class="h4-title">
                    <a href="/team/odaro" title="Odaro Omonuwa Esq"
                      >Odaro Omonuwa Esq</a
                    >
                  </h4>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="team-box">
                  <div class="team-img-wp">
                    <div class="team-img">
                      <img
                        src="/assets/img/lawyer_placeholder.jpg"
                        width="317"
                        height="368"
                        alt="Adesuwa Omonuwa Esq"
                      />
                    </div>
                  </div>
                  <p>Principal</p>
                  <h4 class="h4-title">
                    <a href="/team/dr-ifeoma-okeke" title="Adesuwa Omonuwa Esq"
                      >Adesuwa Omonuwa Esq</a
                    >
                  </h4>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
