<!-- Banner Start -->
<section class="main-inner-banner">
  <span class="bg-icon"></span>
  <div class="inner-banner-shape"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="inner-banner-content">
          <h1 class="h1-title"><%= locals.title %></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner End -->

<!-- Breadcrumb Start -->
<div class="breadcrumb-box">
  <ul>
    <li>
      <a href="/" title="HOME">HOME</a>
    </li>
    <li>
      <a href="/our-attorneys" title="OUR ATTORNEYS">OUR ATTORNEYS</a>
    </li>
    <li><%= locals.title %></li>
  </ul>
</div>
<!-- Breadcrumb End -->
