<!-- Testimonials Start -->
<section class="main-testimonials">
  <span class="testimonial-bg-shape"
    ><img
      src="assets/images/testimonial-bg-shape.svg"
      width="405"
      height="641"
      alt="Testimonial Shape"
  /></span>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="testimonials-title text-center">
          <span class="sub-title">TESTIMONIALS</span>
          <h2 class="h2-title">What Our Client Say</h2>
        </div>
        <div class="testimonial-slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-box">
                <div class="testimonial-box-shape">
                  <img
                    src="assets/images/testimonial-box-shape.svg"
                    width="170"
                    height="55"
                    alt="Shape"
                  />
                </div>
                <span class="quote-icon"
                  ><img
                    src="assets/images/Quote.svg"
                    width="76"
                    height="56"
                    alt="Quote"
                /></span>
                <div
                  class="testimonial-img back-img"
                  style="background-image: url('assets/img/testi1.PNG')"
                ></div>
                <div class="review-by">
                  <h4 class="h4-title">Osazuwa Anderson</h4>
                  <p>Web Developer</p>
                </div>
                <div class="testimonial-text">
                  <p>
                    Working with clients, digital products and web design
                    projects also needs a back up from attorneys. A project
                    might get stolen, a copycat might use your ideas for their
                    own purposes, and the clients might misunderstand privacy
                    policy etc. To avoid these situations, I am working with
                    this law firm and I’m extremely satisfied with their
                    service! Thank you for the closed the cases!
                  </p>
                </div>
                <div class="testimonial-ratting">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-box">
                <div class="testimonial-box-shape">
                  <img
                    src="assets/images/testimonial-box-shape.svg"
                    width="170"
                    height="55"
                    alt="Shape"
                  />
                </div>
                <span class="quote-icon"
                  ><img
                    src="assets/images/Quote.svg"
                    width="76"
                    height="56"
                    alt="Quote"
                /></span>
                <div
                  class="testimonial-img back-img"
                  style="background-image: url('assets/img/testi2.PNG')"
                ></div>
                <div class="review-by">
                  <h4 class="h4-title">Jessica Ewere</h4>
                  <p>Writer</p>
                </div>
                <div class="testimonial-text">
                  <p>
                    Being a writer makes you deal with issues like copyright,
                    publishing contracts, terms of finishing a book etc. I
                    always need a professional lawyer to help with minor or
                    major details in a case. Thank you so much for always having
                    my back when I need your legal advice – you’re the best and
                    you know it! I will definitely recommend your services to my
                    colleagues and friends.
                  </p>
                </div>
                <div class="testimonial-ratting">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-box">
                <div class="testimonial-box-shape">
                  <img
                    src="assets/images/testimonial-box-shape.svg"
                    width="170"
                    height="55"
                    alt="Shape"
                  />
                </div>
                <span class="quote-icon"
                  ><img
                    src="assets/images/Quote.svg"
                    width="76"
                    height="56"
                    alt="Quote"
                /></span>
                <div
                  class="testimonial-img back-img"
                  style="background-image: url('assets/img/testi3.PNG')"
                ></div>
                <div class="review-by">
                  <h4 class="h4-title">John Omonigho</h4>
                  <p>Business Owner</p>
                </div>
                <div class="testimonial-text">
                  <p>
                    When it comes to legal issues I prefer dealing with people I
                    can trust 100%. Your law firm has proved its professionalism
                    yet again, and I am beyond happy with the outcome of the
                    case. Thank you for the fast resolution – I needed to save
                    my business and keep it running smoothly for the customers,
                    and you, guys, helped a lot in terms of time and money. I
                    appreciate it greatly!
                  </p>
                </div>
                <div class="testimonial-ratting">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials End -->
