<%- include('../partials/head') %>

<body class="fixed">
  <div class="main">
    
    <%- include('../partials/header') %>

    <%- body %>

    <%- include('../partials/footer') %>

  </div>
</body>
</html>