<!-- Contact Us Start -->
<section class="page-contact-us">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-1 order-2">
        <div
          class="contact-us-content wow left-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <span class="sub-title">CONTACT US</span>
          <h2 class="h2-title">Get In Touch Now</h2>
          <div class="contact-link-list">
            <div class="contact-link-box">
              <div class="icon">
                <img
                  src="assets/images/location-icon.svg"
                  width="35"
                  height="40"
                  alt="Location"
                />
              </div>
              <div class="text">
                <h4 class="h4-title">Location</h4>
                <p>
                  <a href="#">31, Aiguobasimwin Crescent, GRA, Benin City.</a>
                </p>
              </div>
            </div>
            <div class="contact-link-box">
              <div class="icon">
                <img
                  src="assets/images/email-icon.svg"
                  width="38"
                  height="28"
                  alt="Email Address"
                />
              </div>
              <div class="text">
                <h4 class="h4-title">Email Address</h4>
                <p>
                  <a href="#"> info@omonuwa.com </a>
                </p>
              </div>
            </div>
            <div class="contact-link-box">
              <div class="icon">
                <img
                  src="assets/images/phone-icon.svg"
                  width="35"
                  height="35"
                  alt="Phone No."
                />
              </div>
              <div class="text">
                <h4 class="h4-title">Phone No.</h4>
                <p>
                  <a href="#">+234 123 456 789</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-lg-2 order-1">
        <div
          class="contact-us-form wow right-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <p>
            Call us 24/7 at +234 123 456 789 or fill out the form below to
            receive a free and confidential initial consultation.
          </p>
          <div class="contact-form">
            <form>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-box">
                    <input
                      type="text"
                      class="form-input"
                      placeholder="First Name*"
                      required
                      autocomplete="off"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-box">
                    <input
                      type="text"
                      class="form-input"
                      placeholder="Last Name*"
                      required
                      autocomplete="off"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-box">
                    <input
                      type="email"
                      class="form-input"
                      placeholder="Email Address*"
                      required
                      autocomplete="off"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-box">
                    <input
                      type="number"
                      class="form-input"
                      placeholder="Phone No.*"
                      required
                      autocomplete="off"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-box">
                    <textarea
                      class="form-input"
                      placeholder="Message..."
                    ></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-box mb-0">
                    <button type="submit" class="sec-btn">
                      <span>Submit Now</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Us End -->

<!-- Google Map Start -->
<div class="google-map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.7089584077507!2d5.637985474148824!3d6.30191969368725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1040d3fa1ca3c3b9%3A0x9dbf6171d28b1285!2s31%20Aiguobasimwin%20Ln%2C%20Oka%2C%20Benin%20City%20300104%2C%20Edo!5e0!3m2!1sen!2sng!4v1734929580128!5m2!1sen!2sng"
    width="1920"
    height="500"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
<!-- Google Map End -->
