<!-- Gallery Start -->
<!-- <section class="">
  <div
    class="container our-gallery"
    style="
      display: grid;
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      margin: 2rem;
    "
  >
    <div class="team-box">
      <div class="team-img-wp">
        <div class="team-img">
          <img
            src="assets/img/omonuwa_gallery_1.png"
            width="317"
            height="368"
          />
        </div>
      </div>
    </div>

    <div class="team-box">
      <div class="team-img-wp">
        <div class="team-img">
          <img
            src="assets/img/omonuwa_gallery_2.png"
            width="317"
            height="368"
          />
        </div>
      </div>
    </div>

    <div class="team-box">
      <div class="team-img-wp">
        <div class="team-img">
          <img
            src="assets/img/omonuwa_gallery_3.png"
            width="317"
            height="368"
          />
        </div>
      </div>
    </div>

    <div class="team-box">
      <div class="team-img-wp">
        <div class="team-img">
          <img
            src="assets/img/omonuwa_gallery_4.png"
            width="317"
            height="368"
          />
        </div>
      </div>
    </div>

    <div class="team-box">
      <div class="team-img-wp">
        <div class="team-img">
          <img
            src="assets/img/omonuwa_gallery_5.png"
            width="317"
            height="368"
          />
        </div>
      </div>
    </div>

    <div class="team-box">
      <div class="team-img-wp">
        <div class="team-img">
          <img
            src="assets/img/omonuwa_gallery_6.png"
            width="317"
            height="368"
          />
        </div>
      </div>
    </div>

    <div class="team-box">
      <div class="team-img-wp">
        <div class="team-img">
          <img
            src="assets/img/omonuwa_gallery_7.png"
            width="317"
            height="368"
          />
        </div>
      </div>
    </div>

    <div class="team-box">
      <div class="team-img-wp">
        <div class="team-img">
          <img
            src="assets/img/omonuwa_gallery_9.png"
            width="317"
            height="368"
          />
        </div>
      </div>
    </div>

    <div class="team-box">
      <div class="team-img-wp">
        <div class="team-img">
          <img
            src="assets/img/omonuwa_gallery_10.png"
            width="317"
            height="368"
          />
        </div>
      </div>
    </div>

    <div class="team-box">
      <div class="team-img-wp">
        <div class="team-img">
          <img
            src="assets/img/omonuwa_gallery_11.jpg"
            width="317"
            height="368"
          />
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="gallery-section">
  <div class="gallery-grid">
    <a href="#" class="gallery-item">
      <img src="assets/img/omonuwa_gallery_1.png" alt="Gallery image 1" />
    </a>
    <a href="#" class="gallery-item">
      <img src="assets/img/omonuwa_gallery_2.png" alt="Gallery image 2" />
    </a>
    <a href="#" class="gallery-item">
      <img src="assets/img/omonuwa_gallery_3.png" alt="Gallery image 3" />
    </a>
    <a href="#" class="gallery-item">
      <img src="assets/img/omonuwa_gallery_4.png" alt="Gallery image 4" />
    </a>
    <a href="#" class="gallery-item">
      <img src="assets/img/omonuwa_gallery_5.png" alt="Gallery image 5" />
    </a>
    <a href="#" class="gallery-item">
      <img src="assets/img/omonuwa_gallery_6.png" alt="Gallery image 6" />
    </a>
    <a href="#" class="gallery-item">
      <img src="assets/img/omonuwa_gallery_7.png" alt="Gallery image 7" />
    </a>
    <a href="#" class="gallery-item">
      <img src="assets/img/omonuwa_gallery_8.jpg" alt="Gallery image 8" />
    </a>
    <a href="#" class="gallery-item">
      <img src="assets/img/omonuwa_gallery_9.png" alt="Gallery image 9" />
    </a>
    <a href="#" class="gallery-item">
      <img src="assets/img/omonuwa_gallery_10.png" alt="Gallery image 10" />
    </a>
  </div>
</section>

<div id="lightbox" class="lightbox">
  <span class="lightbox-close">&times;</span>
  <img class="lightbox-content" id="lightbox-img" />
</div>
