<!-- Gallery Start -->
<section class="">
  <div
    class="container our-gallery"
    style="
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
      margin: 4rem;
    "
  >
    <div class="team-box">
      <div class="team-img-wp">
        <div class="team-img">
          <img
            src="assets/img/omonuwa_gallery_1.png"
            width="317"
            height="368"
          />
        </div>
      </div>
    </div>

    <div class="team-box">
      <div class="team-img-wp">
        <div class="team-img">
          <img
            src="assets/img/omonuwa_gallery_2.png"
            width="317"
            height="368"
          />
        </div>
      </div>
    </div>

    <div class="team-box">
      <div class="team-img-wp">
        <div class="team-img">
          <img
            src="assets/img/omonuwa_gallery_3.png"
            width="317"
            height="368"
          />
        </div>
      </div>
    </div>

    <div class="team-box">
      <div class="team-img-wp">
        <div class="team-img">
          <img
            src="assets/img/omonuwa_gallery_4.png"
            width="317"
            height="368"
          />
        </div>
      </div>
    </div>
  </div>
</section>
