<!-- Blog Grid Start -->
<section class="page-blog-list">
  <div class="container">
    <div class="blog-lists">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div
            class="blog-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="blog-img-box">
              <div class="blog-img-wp">
                <div
                  class="blog-img back-img"
                  style="background-image: url('assets/images/blog-img4.jpg')"
                ></div>
              </div>
              <span class="blog-date"
                ><img
                  src="assets/images/calendar-icon.svg"
                  width="20"
                  height="18"
                  alt="Calendar Icon"
                />17 Dec., 2024</span
              >
            </div>
            <div class="blog-box-text">
              <h4 class="h4-title">
                <a
                  href="blog-detail.html"
                  title="Filing a Claim against a Cruise Ship Contractual Limitations."
                  >Filing a Claim against a Cruise Ship Contractual
                  Limitations.</a
                >
              </h4>
              <p>
                Fusce elementum nibh, quis suscipit quam venenatis eget. Donec
                ut egestas nunc. Proin convallis velit purus, quis sollicitudin
                dolor vehicula ac.
              </p>
              <a href="blog-detail.html" class="link-btn" title="Discover More"
                ><span>Discover More</span
                ><i class="fas fa-arrow-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="blog-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.3s"
          >
            <div class="blog-img-box">
              <div class="blog-img-wp">
                <div
                  class="blog-img back-img"
                  style="background-image: url('assets/images/blog-img5.jpg')"
                ></div>
              </div>
              <span class="blog-date"
                ><img
                  src="assets/images/calendar-icon.svg"
                  width="20"
                  height="18"
                  alt="Calendar Icon"
                />17 Dec., 2024</span
              >
            </div>
            <div class="blog-box-text">
              <h4 class="h4-title">
                <a
                  href="blog-detail.html"
                  title="Domestic Violence in California – How a Lawyer Can Help."
                  >Domestic Violence in California – How a Lawyer Can Help.</a
                >
              </h4>
              <p>
                Fusce elementum nibh, quis suscipit quam venenatis eget. Donec
                ut egestas nunc. Proin convallis velit purus, quis sollicitudin
                dolor vehicula ac.
              </p>
              <a href="blog-detail.html" class="link-btn" title="Discover More"
                ><span>Discover More</span
                ><i class="fas fa-arrow-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="blog-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.4s"
          >
            <div class="blog-img-box">
              <div class="blog-img-wp">
                <div
                  class="blog-img back-img"
                  style="background-image: url('assets/images/blog-img6.jpg')"
                ></div>
              </div>
              <span class="blog-date"
                ><img
                  src="assets/images/calendar-icon.svg"
                  width="20"
                  height="18"
                  alt="Calendar Icon"
                />17 Dec., 2024</span
              >
            </div>
            <div class="blog-box-text">
              <h4 class="h4-title">
                <a
                  href="blog-detail.html"
                  title="Day Care Responsibility to Protect Children."
                  >Day Care Responsibility to Protect Children.</a
                >
              </h4>
              <p>
                Fusce elementum nibh, quis suscipit quam venenatis eget. Donec
                ut egestas nunc. Proin convallis velit purus, quis sollicitudin
                dolor vehicula ac.
              </p>
              <a href="blog-detail.html" class="link-btn" title="Discover More"
                ><span>Discover More</span
                ><i class="fas fa-arrow-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="blog-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="blog-img-box">
              <div class="blog-img-wp">
                <div
                  class="blog-img back-img"
                  style="background-image: url('assets/images/blog-img7.jpg')"
                ></div>
              </div>
              <span class="blog-date"
                ><img
                  src="assets/images/calendar-icon.svg"
                  width="20"
                  height="18"
                  alt="Calendar Icon"
                />17 Dec., 2024</span
              >
            </div>
            <div class="blog-box-text">
              <h4 class="h4-title">
                <a
                  href="blog-detail.html"
                  title="Doctor’s Failure to Diagnose a Medical Condition."
                  >Doctor’s Failure to Diagnose a Medical Condition.</a
                >
              </h4>
              <p>
                Fusce elementum nibh, quis suscipit quam venenatis eget. Donec
                ut egestas nunc. Proin convallis velit purus, quis sollicitudin
                dolor vehicula ac.
              </p>
              <a href="blog-detail.html" class="link-btn" title="Discover More"
                ><span>Discover More</span
                ><i class="fas fa-arrow-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="blog-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.3s"
          >
            <div class="blog-img-box">
              <div class="blog-img-wp">
                <div
                  class="blog-img back-img"
                  style="background-image: url('assets/images/blog-img8.jpg')"
                ></div>
              </div>
              <span class="blog-date"
                ><img
                  src="assets/images/calendar-icon.svg"
                  width="20"
                  height="18"
                  alt="Calendar Icon"
                />17 Dec., 2024</span
              >
            </div>
            <div class="blog-box-text">
              <h4 class="h4-title">
                <a
                  href="blog-detail.html"
                  title="Do I Need to Change My Business Name if Someone Has It?"
                  >Do I Need to Change My Business Name if Someone Has It?</a
                >
              </h4>
              <p>
                Fusce elementum nibh, quis suscipit quam venenatis eget. Donec
                ut egestas nunc. Proin convallis velit purus, quis sollicitudin
                dolor vehicula ac.
              </p>
              <a href="blog-detail.html" class="link-btn" title="Discover More"
                ><span>Discover More</span
                ><i class="fas fa-arrow-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="blog-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.4s"
          >
            <div class="blog-img-box">
              <div class="blog-img-wp">
                <div
                  class="blog-img back-img"
                  style="background-image: url('assets/images/blog-img9.jpg')"
                ></div>
              </div>
              <span class="blog-date"
                ><img
                  src="assets/images/calendar-icon.svg"
                  width="20"
                  height="18"
                  alt="Calendar Icon"
                />17 Dec., 2024</span
              >
            </div>
            <div class="blog-box-text">
              <h4 class="h4-title">
                <a
                  href="blog-detail.html"
                  title="What To Do When Your Ex Won’t Pay Child Support"
                  >What To Do When Your Ex Won’t Pay Child Support</a
                >
              </h4>
              <p>
                Fusce elementum nibh, quis suscipit quam venenatis eget. Donec
                ut egestas nunc. Proin convallis velit purus, quis sollicitudin
                dolor vehicula ac.
              </p>
              <a href="blog-detail.html" class="link-btn" title="Discover More"
                ><span>Discover More</span
                ><i class="fas fa-arrow-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-pagination">
        <ul>
          <li class="arrow">
            <a href="javascript:void(0);" title="Previous"
              ><i class="fas fa-chevron-left"></i
            ></a>
          </li>
          <li class="active">
            <a href="javascript:void(0);" title="1">1</a>
          </li>
          <li>
            <a href="javascript:void(0);" title="2">2</a>
          </li>
          <li>
            <a href="javascript:void(0);" title="3">3</a>
          </li>
          <li>
            <a href="javascript:void(0);" title="4">4</a>
          </li>
          <li>
            <a href="javascript:void(0);" title="5">5</a>
          </li>
          <li class="arrow">
            <a href="javascript:void(0);" title="Previous"
              ><i class="fas fa-chevron-right"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
