<!-- Our Team Start -->
<section class="page-our-team">
  <div class="container">
    <div class="page-team-list">
      <div class="row">
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="/assets/img/lawyer_placeholder.jpg"
                  width="317"
                  height="368"
                  alt="Dr. G. I. S. Omonuwa"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="/assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a href="#" title="Follow on Facebook" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on Instagram" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on LinkedIn" target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Founder</p>
            <h4 class="h4-title">
              <a href="/team/omonuwa" title="Dr. G. I. S. Omonuwa"
                >Dr. G. I. S. Omonuwa</a
              >
            </h4>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="/assets/img/lawyer_placeholder.jpg"
                  width="317"
                  height="368"
                  alt="Odaro Omonuwa Esq"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="/assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a href="#" title="Follow on Facebook" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on Instagram" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on LinkedIn" target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Founding Member</p>
            <h4 class="h4-title">
              <a href="/team/odaro" title="Odaro Omonuwa Esq"
                >Odaro Omonuwa Esq</a
              >
            </h4>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="/assets/img/lawyer_placeholder.jpg"
                  width="317"
                  height="368"
                  alt="Ezewanyi Nwakpa Armstrong Esq"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="/assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a href="#" title="Follow on Facebook" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on Instagram" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on LinkedIn" target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Associate</p>
            <h4 class="h4-title">
              <a href="/team/ezewanyi" title="Ezewanyi Nwakpa Armstrong Esq"
                >Ezewanyi Nwakpa Armstrong Esq</a
              >
            </h4>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="/assets/img/lawyer_placeholder.jpg"
                  width="317"
                  height="368"
                  alt="Favour Ifechukwude"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="/assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a href="#" title="Follow on Facebook" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on Instagram" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on LinkedIn" target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Associate</p>
            <h4 class="h4-title">
              <a href="/team/favour" title="Favour Ifechukwude"
                >Favour Ifechukwude</a
              >
            </h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="/assets/img/lawyer_placeholder.jpg"
                  width="317"
                  height="368"
                  alt="Adesuwa Omonuwa Esq"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="/assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a href="#" title="Follow on Facebook" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on Instagram" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on LinkedIn" target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Principal</p>
            <h4 class="h4-title">
              <a href="/team/adesuwa" title="Adesuwa Omonuwa Esq"
                >Adesuwa Omonuwa Esq</a
              >
            </h4>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="/assets/img/lawyer_placeholder.jpg"
                  width="317"
                  height="368"
                  alt="Efua C. Ighalo Esq."
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="/assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a href="#" title="Follow on Facebook" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on Instagram" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on LinkedIn" target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Associate</p>
            <h4 class="h4-title">
              <a href="/team/efua" title="Efua C. Ighalo Esq."
                >Efua C. Ighalo Esq.</a
              >
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Team End -->
