<!-- Our Team Start -->
<section class="page-our-team">
  <div class="container">
    <div class="page-team-list">
      <div class="row">
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="/assets/img/omonuwa_gallery_3.png"
                  width="317"
                  height="368"
                  alt="Omoruyi A. Omonuwa, SAN"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="/assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a href="#" title="Follow on Facebook" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on Instagram" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on LinkedIn" target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Principal Partner</p>
            <h4 class="h4-title">
              <a href="/team/omoruyi-a-omonuwa" title="Omoruyi A. Omonuwa, SAN"
                >Omoruyi A. Omonuwa, SAN</a
              >
            </h4>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="/assets/img/omonuwa_gallery_6.png"
                  width="317"
                  height="368"
                  alt="Dr. (Mrs.) Ifeoma Okeke"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="/assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a href="#" title="Follow on Facebook" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on Instagram" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on LinkedIn" target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Of Counsel</p>
            <h4 class="h4-title">
              <a href="/team/dr-ifeoma-okeke" title="Dr. (Mrs.) Ifeoma Okeke"
                >Dr. (Mrs.) Ifeoma Okeke</a
              >
            </h4>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="/assets/img/chinedu-okoro.PNG"
                  width="317"
                  height="368"
                  alt="Chinedu Okoro"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="/assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a href="#" title="Follow on Facebook" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on Instagram" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on LinkedIn" target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Corporate Lawyer</p>
            <h4 class="h4-title">
              <a href="/team/chinedu-okoro" title="Chinedu Okoro"
                >Chinedu Okoro</a
              >
            </h4>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="/assets/img/omonuwa_gallery_7.png"
                  width="317"
                  height="368"
                  alt="Amina Bello"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="/assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a href="#" title="Follow on Facebook" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on Instagram" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on LinkedIn" target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Senior Associate</p>
            <h4 class="h4-title">
              <a href="/team/amina-bello" title="Amina Bello">Amina Bello</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Team End -->

<!-- PORT = 3000
DB_HOST=localhost
DB_USER=steve
DB_PASSWORD=pass
DB_NAME=omonuwa

EMAIL_USER=etsxaint@gmail.com
EMAIL_PASS=fzpd odej jgkq xxhg -->
