<!-- Our Team Start -->
<section class="page-our-team">
  <div class="container">
    <div class="page-team-list">
      <div class="row">
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="assets/images/Michel-Holway.jpg"
                  width="317"
                  height="368"
                  alt="Michel Holway"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a
                      href="https://facebook.com/"
                      title="Follow on Facebook"
                      target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://instagram.com/"
                      title="Follow on Instagram"
                      target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://linkedin.com/"
                      title="Follow on LinkedIn"
                      target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Criminal Lawyer</p>
            <h4 class="h4-title">
              <a href="team-detail.html" title="Michel Holway">Michel Holway</a>
            </h4>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="assets/images/George-Damian.jpg"
                  width="317"
                  height="368"
                  alt="George Damian"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a
                      href="https://facebook.com/"
                      title="Follow on Facebook"
                      target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://instagram.com/"
                      title="Follow on Instagram"
                      target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://linkedin.com/"
                      title="Follow on LinkedIn"
                      target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Property Lawyer</p>
            <h4 class="h4-title">
              <a href="team-detail.html" title="George Damian">George Damian</a>
            </h4>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="assets/images/Jack-Callum.jpg"
                  width="317"
                  height="368"
                  alt="Jack Callum"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a
                      href="https://facebook.com/"
                      title="Follow on Facebook"
                      target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://instagram.com/"
                      title="Follow on Instagram"
                      target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://linkedin.com/"
                      title="Follow on LinkedIn"
                      target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Corporate Lawyer</p>
            <h4 class="h4-title">
              <a href="team-detail.html" title="Jack Callum">Jack Callum</a>
            </h4>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="assets/images/Amelia-Scott.jpg"
                  width="317"
                  height="368"
                  alt="Amelia Scott"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a
                      href="https://facebook.com/"
                      title="Follow on Facebook"
                      target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://instagram.com/"
                      title="Follow on Instagram"
                      target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://linkedin.com/"
                      title="Follow on LinkedIn"
                      target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Securities Lawyer</p>
            <h4 class="h4-title">
              <a href="team-detail.html" title="Amelia Scott">Amelia Scott</a>
            </h4>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="assets/images/Alex-Edward.jpg"
                  width="317"
                  height="368"
                  alt="Alex Edward"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a
                      href="https://facebook.com/"
                      title="Follow on Facebook"
                      target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://instagram.com/"
                      title="Follow on Instagram"
                      target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://linkedin.com/"
                      title="Follow on LinkedIn"
                      target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Family Lawyer</p>
            <h4 class="h4-title">
              <a href="team-detail.html" title="Alex Edward">Alex Edward</a>
            </h4>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="assets/images/Harly-Rayan.jpg"
                  width="317"
                  height="368"
                  alt="Harly Rayan"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a
                      href="https://facebook.com/"
                      title="Follow on Facebook"
                      target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://instagram.com/"
                      title="Follow on Instagram"
                      target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://linkedin.com/"
                      title="Follow on LinkedIn"
                      target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Civil Lawyer</p>
            <h4 class="h4-title">
              <a href="team-detail.html" title="Harly Rayan">Harly Rayan</a>
            </h4>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="assets/images/Jennifer-Cailen.jpg"
                  width="317"
                  height="368"
                  alt="Jennifer Cailen"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a
                      href="https://facebook.com/"
                      title="Follow on Facebook"
                      target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://instagram.com/"
                      title="Follow on Instagram"
                      target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://linkedin.com/"
                      title="Follow on LinkedIn"
                      target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Senior Lawyer</p>
            <h4 class="h4-title">
              <a href="team-detail.html" title="Jennifer Cailen"
                >Jennifer Cailen</a
              >
            </h4>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="team-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="team-img-wp">
              <div class="team-img">
                <img
                  src="assets/images/Andrew-Bon.jpg"
                  width="317"
                  height="368"
                  alt="Andrew Bon"
                />
              </div>
              <div class="team-social">
                <div class="team-social-share">
                  <img
                    src="assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a
                      href="https://facebook.com/"
                      title="Follow on Facebook"
                      target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://instagram.com/"
                      title="Follow on Instagram"
                      target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://linkedin.com/"
                      title="Follow on LinkedIn"
                      target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <p>Criminal Lawyer</p>
            <h4 class="h4-title">
              <a href="team-detail.html" title="Andrew Bon">Andrew Bon</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Team End -->
