<!-- Team Detail Start -->
<section class="main-team-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div
          class="team-detail-img wow left-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <div class="team-img-wp">
            <div class="team-img">
              <img
                src="/assets/img/lawyer_placeholder.jpg"
                width="317"
                height="368"
                alt="Adesuwa Omonuwa Esq"
              />
            </div>
            <div class="team-social">
              <div class="team-social-share">
                <img
                  src="/assets/images/share-icon.svg"
                  width="15"
                  height="17"
                  alt="Share Icon"
                />
              </div>
              <ul>
                <li>
                  <a
                    href="https://facebook.com/"
                    title="Follow on Facebook"
                    target="_blank"
                    ><i class="fab fa-facebook-f" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://instagram.com/"
                    title="Follow on Instagram"
                    target="_blank"
                    ><i class="fab fa-instagram" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://linkedin.com/"
                    title="Follow on LinkedIn"
                    target="_blank"
                    ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div
          class="team-detail-content wow right-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <span class="sub-title">Managing Partner</span>
          <h2 class="h2-title">Adesuwa Omonuwa, Esq.</h2>
          <div class="team-detail-content-text">
            <p>
              Adesuwa Omonuwa is a seasoned legal professional and the Managing
              Partner of the firm, with a distinguished career spanning over
              three decades. Admitted to the Nigerian Bar in 1986, she is
              renowned for her exceptional academic background, diverse
              international experience, and an unwavering dedication to her
              clients.
            </p>
            <p>
              Her experience at Cravath, Swaine and Moore, a top New York law
              firm, provided her with invaluable exposure to the intricacies of
              international corporate practice. Upon her return to Nigeria, she
              has become a leading figure in corporate litigation and advisory,
              known for her meticulous attention to detail and commitment to
              achieving optimal outcomes.
            </p>
          </div>
          <div class="team-detail-contact">
            <div class="contact-link-box">
              <div class="icon">
                <img
                  src="/assets/images/phone-icon.svg"
                  width="26"
                  height="26"
                  alt="Phone No."
                />
              </div>
              <div class="text">
                <p>
                  <strong>Phone : </strong>
                  <a href="tel:+2348031112222" title="Call on +234 803 111 2222"
                    >+234 803 111 2222</a
                  >
                </p>
              </div>
            </div>
            <div class="contact-link-box">
              <div class="icon">
                <img
                  src="/assets/images/email-icon.svg"
                  width="33"
                  height="25"
                  alt="Email Address"
                />
              </div>
              <div class="text">
                <p>
                  <strong>Email : </strong>
                  <a
                    href="mailto:a.omonuwa@omonuwalaw.com"
                    title="Mail on a.omonuwa@omonuwalaw.com"
                    >a.omonuwa@omonuwalaw.com</a
                  >
                </p>
              </div>
            </div>
            <div class="contact-link-box">
              <div class="icon">
                <img
                  src="/assets/images/Experience-icon.svg"
                  width="26"
                  height="26"
                  alt="Experience"
                />
              </div>
              <div class="text">
                <p>
                  <strong>Experience : </strong>
                  Over 35 Years
                </p>
              </div>
            </div>
            <div class="contact-link-box">
              <div class="icon">
                <img
                  src="/assets/images/Qualification-icon.svg"
                  width="26"
                  height="26"
                  alt="Qualification"
                />
              </div>
              <div class="text">
                <p>
                  <strong>Qualification : </strong>
                  LLB (Hons), B.L, LLM (UBC), PGDip (American Law)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div
          class="team-professional-info wow left-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <h4 class="h4-title">Professional Info</h4>
          <p>
            Adesuwa's academic journey is marked by excellence, including the
            prestigious SWEET AND MAXWELL LAW PRIZE from the University of Benin
            and the BRITISH COLUMBIA LAW FOUNDATION FELLOWSHIP from the
            University of British Columbia, where she earned her LLM with a
            First Class Average. Her global perspective was further enriched by
            postgraduate studies at Oxford University and a diploma from the
            Salburg Global Seminar on a USIS scholarship.
          </p>
          <p>
            Her commitment to public service is equally notable. She was
            entrusted by the Hon. Attorney-General of the Federation with the
            Fiat to prosecute cases at the Failed Banks' Tribunal and received a
            similar Fiat from the Attorney-General of Edo State for specified
            crimes. These appointments are a testament to her unimpeachable
            integrity and legal acumen.
          </p>
          <ul>
            <li>Extensive experience in complex commercial litigation.</li>
            <li>
              International training at a top-tier New York corporate law firm.
            </li>
            <li>Recipient of multiple academic awards and fellowships.</li>
            <li>
              Appointed Special Prosecutor by Federal and State
              Attorneys-General.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="team-professional-progressbar wow right-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <div class="experience-skill-list" id="progress_bar">
            <div class="experience-skill-bar-box">
              <h4 class="h4-title experience-skill-bar-title">
                Corporate & Commercial Litigation
              </h4>
              <div class="h4-title experience-skill-bar-percent">
                <span class="counting" data-count="95">0</span>%
              </div>
              <div class="experience-skill-bar" data-width="95%">
                <div class="experience-skill-bar-inner"></div>
              </div>
            </div>
            <div class="experience-skill-bar-box">
              <h4 class="h4-title experience-skill-bar-title">
                International Corporate Practice
              </h4>
              <div class="h4-title experience-skill-bar-percent">
                <span class="counting" data-count="90">0</span>%
              </div>
              <div class="experience-skill-bar" data-width="90%">
                <div class="experience-skill-bar-inner"></div>
              </div>
            </div>
            <div class="experience-skill-bar-box">
              <h4 class="h4-title experience-skill-bar-title">
                Public Prosecution & Special Cases
              </h4>
              <div class="h4-title experience-skill-bar-percent">
                <span class="counting" data-count="90">0</span>%
              </div>
              <div class="experience-skill-bar" data-width="90%">
                <div class="experience-skill-bar-inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team Detail End -->
