<!-- Team Detail Start -->
<section class="main-team-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div
          class="team-detail-img wow left-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <div class="team-img-wp">
            <div class="team-img">
              <img
                src="/assets/img/lawyer_placeholder.jpg"
                width="317"
                height="368"
                alt="Efua C. Ighalo Esq."
              />
            </div>
            <div class="team-social">
              <div class="team-social-share">
                <img
                  src="/assets/images/share-icon.svg"
                  width="15"
                  height="17"
                  alt="Share Icon"
                />
              </div>
              <ul>
                <li>
                  <a
                    href="https://facebook.com/"
                    title="Follow on Facebook"
                    target="_blank"
                    ><i class="fab fa-facebook-f" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://instagram.com/"
                    title="Follow on Instagram"
                    target="_blank"
                    ><i class="fab fa-instagram" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://linkedin.com/"
                    title="Follow on LinkedIn"
                    target="_blank"
                    ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div
          class="team-detail-content wow right-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <span class="sub-title">Litigation Associate</span>
          <h2 class="h2-title">Efua C. Ighalo, Esq.</h2>
          <div class="team-detail-content-text">
            <p>
              Efua C. Ighalo Esq. brings a formidable combination of academic
              excellence from Ambrose Alli University and the Nigerian Law
              School with valuable, practical experience to the firm. Driven by
              a strong commitment to justice, she has developed a particular
              passion for the dynamic and challenging world of litigation.
            </p>
            <p>
              Possessing a sharp intellect, exceptional communication skills,
              and unwavering advocacy, Mrs. Ighalo thrives in the intricate web
              of courtroom proceedings. Her ability to analyze complex legal
              issues and build compelling arguments makes her a formidable
              advocate for her clients.
            </p>
          </div>
          <div class="team-detail-contact">
            <div class="contact-link-box">
              <div class="icon">
                <img
                  src="/assets/images/phone-icon.svg"
                  width="26"
                  height="26"
                  alt="Phone No."
                />
              </div>
              <div class="text">
                <p>
                  <strong>Phone : </strong>
                  <a href="tel:+2348123456789" title="Call on +234 812 345 6789"
                    >+234 812 345 6789</a
                  >
                </p>
              </div>
            </div>
            <div class="contact-link-box">
              <div class="icon">
                <img
                  src="/assets/images/email-icon.svg"
                  width="33"
                  height="25"
                  alt="Email Address"
                />
              </div>
              <div class="text">
                <p>
                  <strong>Email : </strong>
                  <a
                    href="mailto:e.ighalo@omonuwalaw.com"
                    title="Mail on e.ighalo@omonuwalaw.com"
                    >e.ighalo@omonuwalaw.com</a
                  >
                </p>
              </div>
            </div>
            <div class="contact-link-box">
              <div class="icon">
                <img
                  src="/assets/images/Experience-icon.svg"
                  width="26"
                  height="26"
                  alt="Experience"
                />
              </div>
              <div class="text">
                <p>
                  <strong>Experience : </strong>
                  5 Years
                </p>
              </div>
            </div>
            <div class="contact-link-box">
              <div class="icon">
                <img
                  src="/assets/images/Qualification-icon.svg"
                  width="26"
                  height="26"
                  alt="Qualification"
                />
              </div>
              <div class="text">
                <p>
                  <strong>Qualification : </strong>
                  LL.B (Hons), B.L.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div
          class="team-professional-info wow left-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <h4 class="h4-title">Professional Info</h4>
          <p>
            Efua gained her foundational experience serving at the Ministry of
            Justice, Edo State, during her National Youth Service, and later
            honed her skills in prominent law firms. She takes great pride in
            her meticulous attention to detail, ensuring no stone is left
            unturned in her pursuit of justice for the firm's clients.
          </p>
          <p>
            Beyond her legal prowess, she is a collaborative team player who
            fosters strong relationships with colleagues and clients alike. Her
            dedication to ethical practices and professional integrity adds
            another dimension to her distinguished profile. With a hunger for
            continued learning and a commitment to excellence, Mrs. Ighalo is a
            valuable asset to our litigation team.
          </p>
          <ul>
            <li>Specializes in courtroom advocacy and procedure.</li>
            <li>
              Builds compelling legal arguments through rigorous analysis.
            </li>
            <li>Manages client relationships with professionalism and care.</li>
            <li>Committed to ethical practice and professional integrity.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="team-professional-progressbar wow right-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <div class="experience-skill-list" id="progress_bar">
            <div class="experience-skill-bar-box">
              <h4 class="h4-title experience-skill-bar-title">
                Courtroom Advocacy & Argumentation
              </h4>
              <div class="h4-title experience-skill-bar-percent">
                <span class="counting" data-count="90">0</span>%
              </div>
              <div class="experience-skill-bar" data-width="90%">
                <div class="experience-skill-bar-inner"></div>
              </div>
            </div>
            <div class="experience-skill-bar-box">
              <h4 class="h4-title experience-skill-bar-title">
                Legal Research & Case Analysis
              </h4>
              <div class="h4-title experience-skill-bar-percent">
                <span class="counting" data-count="85">0</span>%
              </div>
              <div class="experience-skill-bar" data-width="85%">
                <div class="experience-skill-bar-inner"></div>
              </div>
            </div>
            <div class="experience-skill-bar-box">
              <h4 class="h4-title experience-skill-bar-title">
                Client & Team Collaboration
              </h4>
              <div class="h4-title experience-skill-bar-percent">
                <span class="counting" data-count="80">0</span>%
              </div>
              <div class="experience-skill-bar" data-width="80%">
                <div class="experience-skill-bar-inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team Detail End -->
