<!-- Team Detail Start -->
<section class="main-team-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div
          class="team-detail-img wow left-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <div class="team-img-wp">
            <div class="team-img">
              <img
                src="/assets/img/lawyer_placeholder.jpg"
                width="317"
                height="368"
                alt="Favour Ifechukwude"
              />
            </div>
            <div class="team-social">
              <div class="team-social-share">
                <img
                  src="/assets/images/share-icon.svg"
                  width="15"
                  height="17"
                  alt="Share Icon"
                />
              </div>
              <ul>
                <li>
                  <a
                    href="https://facebook.com/"
                    title="Follow on Facebook"
                    target="_blank"
                    ><i class="fab fa-facebook-f" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://instagram.com/"
                    title="Follow on Instagram"
                    target="_blank"
                    ><i class="fab fa-instagram" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://linkedin.com/"
                    title="Follow on LinkedIn"
                    target="_blank"
                    ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div
          class="team-detail-content wow right-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <span class="sub-title">Litigation Associate</span>
          <h2 class="h2-title">Favour Ifechukwude</h2>
          <div class="team-detail-content-text">
            <p>
              Favour Ifechukwude is a distinguished legal practitioner with a
              primary focus on general litigation. She is committed to providing
              strategic legal counsel and developing solutions tailored to meet
              the unique needs of her clients in complex legal matters.
            </p>
            <p>
              With an impressive track record of representing clients in a
              variety of litigation matters, she combines exceptional legal
              acumen with a results-driven approach. Her expertise spans across
              commercial disputes and civil litigation, where she is known for
              navigating intricate legal issues with professionalism and
              integrity.
            </p>
          </div>
          <div class="team-detail-contact">
            <div class="contact-link-box">
              <div class="icon">
                <img
                  src="/assets/images/phone-icon.svg"
                  width="26"
                  height="26"
                  alt="Phone No."
                />
              </div>
              <div class="text">
                <p>
                  <strong>Phone : </strong>
                  <a href="tel:+2348012345678" title="Call on +234 801 234 5678"
                    >+234 801 234 5678</a
                  >
                </p>
              </div>
            </div>
            <div class="contact-link-box">
              <div class="icon">
                <img
                  src="/assets/images/email-icon.svg"
                  width="33"
                  height="25"
                  alt="Email Address"
                />
              </div>
              <div class="text">
                <p>
                  <strong>Email : </strong>
                  <a
                    href="mailto:f.ifechukwude@omonuwalaw.com"
                    title="Mail on f.ifechukwude@omonuwalaw.com"
                    >f.ifechukwude@omonuwalaw.com</a
                  >
                </p>
              </div>
            </div>
            <div class="contact-link-box">
              <div class="icon">
                <img
                  src="/assets/images/Experience-icon.svg"
                  width="26"
                  height="26"
                  alt="Experience"
                />
              </div>
              <div class="text">
                <p>
                  <strong>Experience : </strong>
                  7 Years
                </p>
              </div>
            </div>
            <div class="contact-link-box">
              <div class="icon">
                <img
                  src="/assets/images/Qualification-icon.svg"
                  width="26"
                  height="26"
                  alt="Qualification"
                />
              </div>
              <div class="text">
                <p>
                  <strong>Qualification : </strong>
                  LL.B (Igbinedion University), B.L
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div
          class="team-professional-info wow left-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <h4 class="h4-title">Professional Info</h4>
          <p>
            Favour is passionate about ensuring that justice is served, and her
            approach is characterized by meticulous attention to detail and a
            relentless pursuit of favorable outcomes for her clients. She is a
            strong advocate for professional excellence and is committed to
            upholding the highest standards of the legal profession.
          </p>
          <p>
            Her professionalism, combined with her drive and passion for
            justice, makes her a respected figure in the legal community.
            Whether dealing with complex litigation or providing sound legal
            advice, Favour continues to distinguish herself as a reliable,
            skilled, and dynamic legal expert.
          </p>
          <ul>
            <li>Strategic Counsel in General Litigation.</li>
            <li>Representation in Commercial & Civil Disputes.</li>
            <li>Meticulous Case Analysis and Preparation.</li>
            <li>Client-focused, Results-Driven Advocacy.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="team-professional-progressbar wow right-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <div class="experience-skill-list" id="progress_bar">
            <div class="experience-skill-bar-box">
              <h4 class="h4-title experience-skill-bar-title">
                Civil & Commercial Litigation
              </h4>
              <div class="h4-title experience-skill-bar-percent">
                <span class="counting" data-count="90">0</span>%
              </div>
              <div class="experience-skill-bar" data-width="90%">
                <div class="experience-skill-bar-inner"></div>
              </div>
            </div>
            <div class="experience-skill-bar-box">
              <h4 class="h4-title experience-skill-bar-title">
                Dispute Resolution & Negotiation
              </h4>
              <div class="h4-title experience-skill-bar-percent">
                <span class="counting" data-count="85">0</span>%
              </div>
              <div class="experience-skill-bar" data-width="85%">
                <div class="experience-skill-bar-inner"></div>
              </div>
            </div>
            <div class="experience-skill-bar-box">
              <h4 class="h4-title experience-skill-bar-title">
                Legal Research & Strategy
              </h4>
              <div class="h4-title experience-skill-bar-percent">
                <span class="counting" data-count="80">0</span>%
              </div>
              <div class="experience-skill-bar" data-width="80%">
                <div class="experience-skill-bar-inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team Detail End -->
