<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Dr. G. I. S. Omonuwa &amp; Co. &#8211; Legal Practitioners and Advisors,
      Civil, Criminal and Corporate Litigation, Property Consultants, Chartered
      International Commercial Arbitrators, Intellectual property consultants.
    </title>
    <meta
      name="keywords"
      content="Dr. G. I. S. Omonuwa, Attorney in Benin City, Lawyers in Edo State, Lawyers in Nigeria, Attorney in Nigeria,"
    />
    <meta
      name="description"
      content="Legal Practitioners and AdvisorsDealing with public and private business relations is easier with our professional help.Criminal and Corporate LitigationWe work with top executives to help them make better decisions regarding criminal cases.Chartered Int&#039;l Commercial ArbitratorsWe determine if there is a liability on the part of our client and defend against any payment.Intellectual Property ConsultantsWe work with clients to attain effective protection for their brands, intangible assets, concepts and business operating plans. Property ConsultantsOur attorneys are experienced and highly skilled in all aspects of property law trial work.Oil and GasWe provide legal services and support on complex oil, gas, power and mining projects, amongst othersEmployment LawClaims against employers, general liability claims, subrogation actions, and compensations.TaxationWe provide quality, innovative tax solutions in the increasingly complex area of tax legislation and practice."
    />

    <!-- Bootstrap CSS Link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/bootstrap.min.css"
    />

    <!-- Main Style CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
  </head>

  <body class="fixed">
    <div class="main">
      <!-- Header Start -->
      <header class="site-header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="header-box">
                <div class="site-branding">
                  <a href="index">
                    <img
                      src="assets/img/logo-black.png"
                      width="164"
                      height="47"
                    />
                  </a>
                </div>
                <div class="header-menu">
                  <nav class="main-navigation">
                    <button class="toggle-button"><span></span></button>
                    <div class="mobile-menu-box">
                      <ul>
                        <li>
                          <a href="index">Home</a>
                        </li>
                        <li class="sub-items">
                          <a href="javascript:void(0);">About</a>
                          <ul class="sub-menu">
                            <li>
                              <a href="our-firm">Our Firm</a>
                            </li>
                            <li>
                              <a href="service-detail">Areas of Practice</a>
                            </li>
                            <li>
                              <a href="service-detail">Our Attorneys</a>
                            </li>
                            <li>
                              <a href="gallery">Gallery</a>
                            </li>
                          </ul>
                        </li>

                        <li>
                          <a href="news">News</a>
                        </li>
                        <li>
                          <a href="faq">FAQs</a>
                        </li>
                        <li class="active">
                          <a href="contact-us">Contact Us</a>
                        </li>
                      </ul>
                      <div class="for-mob">
                        <div class="header-mob-btn">
                          <a href="contact-us" class="sec-btn"
                            ><span>Appointment</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </nav>
                  <div class="header-btn">
                    <a href="contact-us" class="sec-btn"
                      ><span>Appointment</span></a
                    >
                  </div>
                  <div class="black-shadow"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Banner Start -->
      <section class="main-inner-banner">
        <span class="bg-icon"></span>
        <div class="inner-banner-shape"></div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="inner-banner-content">
                <h1 class="h1-title">Contact Us</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->

      <!-- Breadcrumb Start -->
      <div class="breadcrumb-box">
        <ul>
          <li>
            <a href="index" title="HOME">HOME</a>
          </li>
          <li>CONTACT US</li>
        </ul>
      </div>
      <!-- Breadcrumb End -->

      <!-- Contact Us Start -->
      <section class="page-contact-us">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1 order-2">
              <div
                class="contact-us-content wow left-animation"
                data-wow-duration="0.8s"
                data-wow-delay="0.2s"
              >
                <span class="sub-title">CONTACT US</span>
                <h2 class="h2-title">Get In Touch Now</h2>
                <div class="contact-link-list">
                  <div class="contact-link-box">
                    <div class="icon">
                      <img
                        src="assets/images/location-icon.svg"
                        width="35"
                        height="40"
                        alt="Location"
                      />
                    </div>
                    <div class="text">
                      <h4 class="h4-title">Location</h4>
                      <p>
                        <a href="#"
                          >31, Aiguobasimwin Crescent, GRA, Benin City.</a
                        >
                      </p>
                    </div>
                  </div>
                  <div class="contact-link-box">
                    <div class="icon">
                      <img
                        src="assets/images/email-icon.svg"
                        width="38"
                        height="28"
                        alt="Email Address"
                      />
                    </div>
                    <div class="text">
                      <h4 class="h4-title">Email Address</h4>
                      <p>
                        <a href="#"> info@omonuwa.com </a>
                      </p>
                    </div>
                  </div>
                  <div class="contact-link-box">
                    <div class="icon">
                      <img
                        src="assets/images/phone-icon.svg"
                        width="35"
                        height="35"
                        alt="Phone No."
                      />
                    </div>
                    <div class="text">
                      <h4 class="h4-title">Phone No.</h4>
                      <p>
                        <a href="#">+234 123 456 789</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-1">
              <div
                class="contact-us-form wow right-animation"
                data-wow-duration="0.8s"
                data-wow-delay="0.2s"
              >
                <p>
                  Call us 24/7 at +234 123 456 789 or fill out the form below to
                  receive a free and confidential initial consultation.
                </p>
                <div class="contact-form">
                  <form>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-box">
                          <input
                            type="text"
                            class="form-input"
                            placeholder="First Name*"
                            required
                            autocomplete="off"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-box">
                          <input
                            type="text"
                            class="form-input"
                            placeholder="Last Name*"
                            required
                            autocomplete="off"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-box">
                          <input
                            type="email"
                            class="form-input"
                            placeholder="Email Address*"
                            required
                            autocomplete="off"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-box">
                          <input
                            type="number"
                            class="form-input"
                            placeholder="Phone No.*"
                            required
                            autocomplete="off"
                          />
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-box">
                          <textarea
                            class="form-input"
                            placeholder="Message..."
                          ></textarea>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-box mb-0">
                          <button type="submit" class="sec-btn">
                            <span>Submit Now</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Contact Us End -->

      <!-- Google Map Start -->
      <div class="google-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.7089584077507!2d5.637985474148824!3d6.30191969368725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1040d3fa1ca3c3b9%3A0x9dbf6171d28b1285!2s31%20Aiguobasimwin%20Ln%2C%20Oka%2C%20Benin%20City%20300104%2C%20Edo!5e0!3m2!1sen!2sng!4v1734929580128!5m2!1sen!2sng"
          width="1920"
          height="500"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <!-- Google Map End -->

      <!-- Footer Start -->
      <footer class="site-footer">
        <div class="container">
          <div class="footer-top">
            <div class="row">
              <div class="col-lg-3">
                <div class="footer-info">
                  <h4 class="h4-title footer-title">About Us</h4>
                  <p>
                    At Dr. G. I. S. Omonuwa & Co., we provide exceptional legal
                    solutions, combining expertise, integrity, and dedication to
                    protect your interests.
                  </p>
                  <div class="social-media">
                    <a href="#"
                      ><i class="fab fa-facebook-f" aria-hidden="true"></i
                    ></a>
                    <a href="#"
                      ><i class="fab fa-instagram" aria-hidden="true"></i
                    ></a>
                    <a
                      href="https://linkedin.com/"
                      title="Follow on LinkedIn"
                      target="_blank"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-md-3">
                <div class="footer-link-wp">
                  <div class="footer-link">
                    <h4 class="h4-title footer-title">Our Links</h4>
                    <ul>
                      <li>
                        <a href="index-2.html">Home</a>
                      </li>
                      <li>
                        <a href="about-us.html">About Us</a>
                      </li>
                      <li>
                        <a href="blog-list.html">News</a>
                      </li>
                      <li>
                        <a href="contact-us.html">Contact Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="footer-link-wp">
                  <div class="footer-link">
                    <h4 class="h4-title footer-title">Our Services</h4>
                    <ul>
                      <li>
                        <a href="service-detail.html">Professional Advice</a>
                      </li>
                      <li>
                        <a href="service-detail.html">Employment Law</a>
                      </li>
                      <li>
                        <a href="service-detail.html">Accident Law</a>
                      </li>
                      <li>
                        <a href="service-detail.html">Top Legal Experts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-5">
                <div class="footer-contact">
                  <h4 class="h4-title footer-title">Contact Us</h4>
                  <ul>
                    <li>
                      <span class="icon"
                        ><i class="fas fa-map-marker-alt"></i
                      ></span>
                      <div class="text">
                        <div>
                          <a href="#"
                            >31, Aiguobasimwin Crescent, GRA, Benin City.</a
                          >
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="icon"><i class="fas fa-envelope"></i></span>
                      <div class="text">
                        <div>
                          <a href="#">info@omonuwa.com</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="icon"><i class="fas fa-phone-alt"></i></span>
                      <div class="text">
                        <div>
                          <a href="#">+234 123 456 789</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <p>
              &copy; 2024 All Rights Reserved. | Designed by 3MTT x CodeNation
              Cohort 2 Software Development Fellows
            </p>
          </div>
        </div>
      </footer>

      <!-- Scroll To Top Start -->
      <a href="javascript:void(0);" id="scroll-to-top" class="scroll-to-top">
        <i class="fas fa-arrow-up"></i>
      </a>
    </div>

    <!-- Jquery JS Link -->
    <script src="assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap JS Link -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>

    <!-- Swiper Slider JS Link -->
    <script src="assets/js/swiper-bundle.min.js"></script>

    <!-- Fancybox JS Link -->
    <script src="assets/js/jquery.fancybox.min.js"></script>

    <!-- Font Awesome JS Link -->
    <script src="assets/js/font-awesome.min.js"></script>

    <!-- Wow Animation JS Link -->
    <script src="assets/js/wow.min.js"></script>

    <!-- Custom JS Link -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/custom-scroll-count.js"></script>
  </body>
</html>
