<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Dr. G. I. S. Omonuwa &amp; Co. &#8211; Legal Practitioners and Advisors,
      Civil, Criminal and Corporate Litigation, Property Consultants, Chartered
      International Commercial Arbitrators, Intellectual property consultants.
    </title>
    <meta
      name="keywords"
      content="Dr. G. I. S. Omonuwa, Attorney in Benin City, Lawyers in Edo State, Lawyers in Nigeria, Attorney in Nigeria,"
    />
    <meta
      name="description"
      content="Legal Practitioners and AdvisorsDealing with public and private business relations is easier with our professional help.Criminal and Corporate LitigationWe work with top executives to help them make better decisions regarding criminal cases.Chartered Int&#039;l Commercial ArbitratorsWe determine if there is a liability on the part of our client and defend against any payment.Intellectual Property ConsultantsWe work with clients to attain effective protection for their brands, intangible assets, concepts and business operating plans. Property ConsultantsOur attorneys are experienced and highly skilled in all aspects of property law trial work.Oil and GasWe provide legal services and support on complex oil, gas, power and mining projects, amongst othersEmployment LawClaims against employers, general liability claims, subrogation actions, and compensations.TaxationWe provide quality, innovative tax solutions in the increasingly complex area of tax legislation and practice."
    />

    <!-- Bootstrap CSS Link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/bootstrap.min.css"
    />

    <!-- Main Style CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
  </head>

  <body class="fixed">
    <div class="main">
      <!-- Header Start -->
      <header class="site-header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="header-box">
                <div class="site-branding">
                  <a href="index">
                    <img
                      src="assets/img/logo-black.png"
                      width="164"
                      height="47"
                    />
                  </a>
                </div>
                <div class="header-menu">
                  <nav class="main-navigation">
                    <button class="toggle-button"><span></span></button>
                    <div class="mobile-menu-box">
                      <ul>
                        <li class="active">
                          <a href="index">Home</a>
                        </li>
                        <li class="sub-items">
                          <a href="javascript:void(0);">About</a>
                          <ul class="sub-menu">
                            <li>
                              <a href="our-firm">Our Firm</a>
                            </li>
                            <li>
                              <a href="service-detail">Areas of Practice</a>
                            </li>
                            <li>
                              <a href="our-attorneys">Our Attorneys</a>
                            </li>
                            <li>
                              <a href="gallery">Gallery</a>
                            </li>
                          </ul>
                        </li>

                        <li>
                          <a href="news">News</a>
                        </li>
                        <li>
                          <a href="faq">FAQs</a>
                        </li>
                        <li>
                          <a href="contact-us">Contact Us</a>
                        </li>
                      </ul>
                      <div class="for-mob">
                        <div class="header-mob-btn">
                          <a href="contact-us" class="sec-btn"
                            ><span>Appointment</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </nav>
                  <div class="header-btn">
                    <a href="contact-us" class="sec-btn"
                      ><span>Appointment</span></a
                    >
                  </div>
                  <div class="black-shadow"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Banner Start -->
      <section class="main-banner">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="banner-content">
                <span class="sub-title wow fadeup-animation"
                  >Welcome To Dr. G. I. S. Omonuwa</span
                >
                <h1
                  class="h1-title wow fadeup-animation"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.2s"
                >
                  Your Success is Our Only Mission
                </h1>
                <p
                  class="wow fadeup-animation"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.3s"
                >
                  At Dr. G. I. S. Omonuwa & Co., we provide exceptional legal
                  solutions, combining expertise, integrity, and dedication to
                  protect your interests.
                </p>
                <a
                  href="about-us.html"
                  class="sec-btn wow fadeup-animation"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.4s"
                  title="Discover More"
                  ><span>About Us</span></a
                >
              </div>
            </div>
            <div class="col-lg-6">
              <div
                class="banner-img wow right-animation"
                data-wow-duration="0.8s"
                data-wow-delay="0.2s"
              >
                <img
                  src="assets/img/Dr. G. I. S. Omonuwa banner image.png"
                  width="636"
                  height="694"
                />
                <span class="overlay"></span>
                <!-- <a
                  href="assets/images/lawyer-video.mp4"
                  data-fancybox="video"
                  class="rotate-btn"
                  title="Lawyer For Your Best"
                  ><i class="fas fa-play"></i
                ></a> -->
              </div>
            </div>
          </div>
        </div>
        <span class="bg-text">LAWYER</span>
        <span class="bg-icon"></span>
      </section>

      <!-- Features Start -->
      <section class="main-features">
        <div class="features-list">
          <div
            class="feature-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="icon">
              <img
                src="assets/images/Lawyer-Advice.svg"
                width="60"
                height="60"
                alt="Lawyer Advice"
              />
            </div>
            <div class="text">
              <h4 class="h4-title">Lawyer Advice</h4>
              <p>Get a Free</p>
            </div>
          </div>
          <div
            class="feature-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.3s"
          >
            <div class="icon">
              <img
                src="assets/images/Legal-Counsel.svg"
                width="60"
                height="60"
                alt="Legal Counsel"
              />
            </div>
            <div class="text">
              <h4 class="h4-title">Legal Counsel</h4>
              <p>Best Advice</p>
            </div>
          </div>
          <div
            class="feature-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.4s"
          >
            <div class="icon">
              <img
                src="assets/images/Court-Performance.svg"
                width="60"
                height="60"
                alt="Court Performance"
              />
            </div>
            <div class="text">
              <h4 class="h4-title">Court Performance</h4>
              <p>Case Study</p>
            </div>
          </div>
          <div
            class="feature-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.5s"
          >
            <div class="icon">
              <img
                src="assets/images/Global-Lawyer.svg"
                width="60"
                height="60"
                alt="Global Lawyer"
              />
            </div>
            <div class="text">
              <h4 class="h4-title">Global Lawyer</h4>
              <p>Best For All Law</p>
            </div>
          </div>
        </div>
      </section>

      <!-- About Us Start -->
      <section class="main-about-us">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div
                class="about-us-img-box wow left-animation"
                data-wow-duration="0.8s"
                data-wow-delay="0.2s"
              >
                <div
                  class="about-us-img back-img"
                  style="
                    background-image: url('assets/img/Dr. G. I. S. Omonuwa about image.png');
                  "
                ></div>
                <div class="about-counter-box" id="about_counter">
                  <h3 class="h3-title">
                    <span data-count="584" class="counting">0</span>+
                  </h3>
                  <h4 class="h4-title">Case Solved</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div
                class="about-us-content wow right-animation"
                data-wow-duration="0.8s"
                data-wow-delay="0.2s"
              >
                <span class="sub-title">ABOUT US</span>
                <h2 class="h2-title">Professional Legal Help</h2>
                <p>
                  Our law firm has been in the business since 1984, and we have
                  gained the respect of multiple clients. We appreciate your
                  trust and your time that you give to help you fight for the
                  cases. We cover all the possible areas of law. We protect the
                  innocent and help our clients fight for their rights. Our
                  lawyers have won the majority of the cases in a record time.
                </p>

                <div class="faq-accordion">
                  <div class="faq-accordion-box">
                    <div class="faq-accordion-title">
                      <h4 class="h4-title">Our Mission</h4>
                      <span class="icon"
                        ><i class="fas fa-arrow-right"></i
                      ></span>
                    </div>
                    <div class="faq-accordion-content">
                      <p>
                        Our mission is to deliver unparalleled legal services,
                        protect clients’ rights, and provide innovative
                        solutions tailored to meet their unique needs.
                      </p>
                    </div>
                  </div>
                  <div class="faq-accordion-box">
                    <div class="faq-accordion-title">
                      <h4 class="h4-title">Our Vision</h4>
                      <span class="icon"
                        ><i class="fas fa-arrow-right"></i
                      ></span>
                    </div>
                    <div class="faq-accordion-content">
                      <p>
                        Our vision is to be the leading legal firm, delivering
                        innovative, client-focused solutions with unwavering
                        commitment to justice and excellence.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="about-us-content-btn">
                  <a href="about-us.html" class="sec-btn"
                    ><span>More About Us</span></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Case Study Start -->
      <section class="main-case-study">
        <div class="case-study-slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="case-study-box">
                <img
                  src="assets/img/Legal-Masters.jpg"
                  width="480"
                  height="610"
                  alt="Legal Masters"
                />
                <div class="case-study-box-content">
                  <h4 class="h4-title">
                    <a href="case-study-detail.html" title="Legal Masters"
                      >Legal Masters</a
                    >
                  </h4>
                  <div class="case-study-box-text">
                    <p>
                      Expert legal practitioners delivering exceptional
                      solutions in litigation, arbitration, property law, and
                      corporate advisory services.
                    </p>
                    <a
                      href="case-study-detail.html"
                      class="arrow-btn"
                      title="Legal Masters"
                      ><i class="fas fa-arrow-right" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="case-study-box">
                <img
                  src="assets/img/legal-practitioner.webp"
                  width="480"
                  height="610"
                  alt="Justice Advocate"
                />
                <div class="case-study-box-content">
                  <h4 class="h4-title">
                    <a href="case-study-detail.html" title="Justice Advocate"
                      >Justice Advocate</a
                    >
                  </h4>
                  <div class="case-study-box-text">
                    <p>
                      Championing fairness and equity, Dr. G. I. S. Omonuwa &
                      Co. delivers trusted legal solutions for all.
                    </p>
                    <a
                      href="case-study-detail.html"
                      class="arrow-btn"
                      title="Justice Advocate"
                      ><i class="fas fa-arrow-right" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="case-study-box">
                <img
                  src="assets/img/Right-Defenders.jpg"
                  width="480"
                  height="610"
                  alt="Right Defenders"
                />
                <div class="case-study-box-content">
                  <h4 class="h4-title">
                    <a href="case-study-detail.html" title="Right Defenders"
                      >Right Defenders</a
                    >
                  </h4>
                  <div class="case-study-box-text">
                    <p>
                      Defending your rights with unwavering commitment, expert
                      counsel, and personalized legal solutions for every unique
                      challenge.
                    </p>
                    <a
                      href="case-study-detail.html"
                      class="arrow-btn"
                      title="Right Defenders"
                      ><i class="fas fa-arrow-right" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="case-study-box">
                <img
                  src="assets/img/Legal-Masters.jpg"
                  width="480"
                  height="610"
                  alt="Legal Solution"
                />
                <div class="case-study-box-content">
                  <h4 class="h4-title">
                    <a href="case-study-detail.html" title="Legal Solution"
                      >Legal Solution</a
                    >
                  </h4>
                  <div class="case-study-box-text">
                    <p>
                      Expert legal solutions tailored to your needs, ensuring
                      justice, protection, and success in every case we handle.
                    </p>
                    <a
                      href="case-study-detail.html"
                      class="arrow-btn"
                      title="Legal Solution"
                      ><i class="fas fa-arrow-right" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="case-study-box">
                <img
                  src="assets/img/Right-Defenders.jpg"
                  width="480"
                  height="610"
                  alt="Road Accident Case"
                />
                <div class="case-study-box-content">
                  <h4 class="h4-title">
                    <a href="case-study-detail.html" title="Road Accident Case"
                      >Road Accident Case</a
                    >
                  </h4>
                  <div class="case-study-box-text">
                    <p>
                      Expert legal representation for road accident cases,
                      ensuring your rights are protected and you receive fair
                      compensation.
                    </p>
                    <a
                      href="case-study-detail.html"
                      class="arrow-btn"
                      title="Road Accident Case"
                      ><i class="fas fa-arrow-right" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Testimonials Start -->
      <section class="main-testimonials">
        <span class="testimonial-bg-shape"
          ><img
            src="assets/images/testimonial-bg-shape.svg"
            width="405"
            height="641"
            alt="Testimonial Shape"
        /></span>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="testimonials-title text-center">
                <span class="sub-title">TESTIMONIALS</span>
                <h2 class="h2-title">What Our Client Say</h2>
              </div>
              <div class="testimonial-slider swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="testimonial-box">
                      <div class="testimonial-box-shape">
                        <img
                          src="assets/images/testimonial-box-shape.svg"
                          width="170"
                          height="55"
                          alt="Shape"
                        />
                      </div>
                      <span class="quote-icon"
                        ><img
                          src="assets/images/Quote.svg"
                          width="76"
                          height="56"
                          alt="Quote"
                      /></span>
                      <div
                        class="testimonial-img back-img"
                        style="background-image: url('assets/img/testi1.PNG')"
                      ></div>
                      <div class="review-by">
                        <h4 class="h4-title">Osazuwa Anderson</h4>
                        <p>Web Developer</p>
                      </div>
                      <div class="testimonial-text">
                        <p>
                          Working with clients, digital products and web design
                          projects also needs a back up from attorneys. A
                          project might get stolen, a copycat might use your
                          ideas for their own purposes, and the clients might
                          misunderstand privacy policy etc. To avoid these
                          situations, I am working with this law firm and I’m
                          extremely satisfied with their service! Thank you for
                          the closed the cases!
                        </p>
                      </div>
                      <div class="testimonial-ratting">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="testimonial-box">
                      <div class="testimonial-box-shape">
                        <img
                          src="assets/images/testimonial-box-shape.svg"
                          width="170"
                          height="55"
                          alt="Shape"
                        />
                      </div>
                      <span class="quote-icon"
                        ><img
                          src="assets/images/Quote.svg"
                          width="76"
                          height="56"
                          alt="Quote"
                      /></span>
                      <div
                        class="testimonial-img back-img"
                        style="background-image: url('assets/img/testi2.PNG')"
                      ></div>
                      <div class="review-by">
                        <h4 class="h4-title">Jessica Ewere</h4>
                        <p>Writer</p>
                      </div>
                      <div class="testimonial-text">
                        <p>
                          Being a writer makes you deal with issues like
                          copyright, publishing contracts, terms of finishing a
                          book etc. I always need a professional lawyer to help
                          with minor or major details in a case. Thank you so
                          much for always having my back when I need your legal
                          advice – you’re the best and you know it! I will
                          definitely recommend your services to my colleagues
                          and friends.
                        </p>
                      </div>
                      <div class="testimonial-ratting">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="testimonial-box">
                      <div class="testimonial-box-shape">
                        <img
                          src="assets/images/testimonial-box-shape.svg"
                          width="170"
                          height="55"
                          alt="Shape"
                        />
                      </div>
                      <span class="quote-icon"
                        ><img
                          src="assets/images/Quote.svg"
                          width="76"
                          height="56"
                          alt="Quote"
                      /></span>
                      <div
                        class="testimonial-img back-img"
                        style="background-image: url('assets/img/testi3.PNG')"
                      ></div>
                      <div class="review-by">
                        <h4 class="h4-title">John Omonigho</h4>
                        <p>Business Owner</p>
                      </div>
                      <div class="testimonial-text">
                        <p>
                          When it comes to legal issues I prefer dealing with
                          people I can trust 100%. Your law firm has proved its
                          professionalism yet again, and I am beyond happy with
                          the outcome of the case. Thank you for the fast
                          resolution – I needed to save my business and keep it
                          running smoothly for the customers, and you, guys,
                          helped a lot in terms of time and money. I appreciate
                          it greatly!
                        </p>
                      </div>
                      <div class="testimonial-ratting">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Special Team Start -->
      <section class="main-special-team">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-3 col-12">
              <div class="special-team-content">
                <span class="sub-title">SPECIAL TEAM</span>
                <h2 class="h2-title">Our Best Experts</h2>
                <p>
                  At Dr. G. I. S. Omonuwa & Co., we provide exceptional legal
                  solutions, combining expertise, integrity, and dedication to
                  protect your interests.
                </p>
                <a href="team" class="link-btn" title="Discover More Lawyers"
                  ><span>See Our Lawyers</span>
                  <i class="fas fa-arrow-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
            <div class="col-xl-9 col-12">
              <div class="special-team-list">
                <div class="team-slider swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="team-box">
                        <div class="team-img-wp">
                          <div class="team-img">
                            <img
                              src="assets/img/omonuwa_gallery_7.png"
                              width="317"
                              height="368"
                              alt="Michel Holway"
                            />
                          </div>
                          <!-- <div class="team-social">
                            <div class="team-social-share">
                              <img
                                src="assets/images/share-icon.svg"
                                width="15"
                                height="17"
                                alt="Share Icon"
                              />
                            </div>
                            <ul>
                              <li>
                                <a
                                  href="https://facebook.com/"
                                  title="Follow on Facebook"
                                  target="_blank"
                                  ><i class="fab fa-facebook-f"></i
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://instagram.com/"
                                  title="Follow on Instagram"
                                  target="_blank"
                                  ><i class="fab fa-instagram"></i
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://linkedin.com/"
                                  title="Follow on LinkedIn"
                                  target="_blank"
                                  ><i
                                    class="fab fa-linkedin-in"
                                    aria-hidden="true"
                                  ></i
                                ></a>
                              </li>
                            </ul>
                          </div> -->
                        </div>
                        <p>Founder</p>
                        <h4 class="h4-title">
                          <a href="team-detail.html" title="Michel Holway"
                            >Dr. G. I. S. Omonuwa</a
                          >
                        </h4>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="team-box">
                        <div class="team-img-wp">
                          <div class="team-img">
                            <img
                              src="assets/img/omonuwa_gallery_3.png"
                              width="317"
                              height="368"
                              alt="George Damian"
                            />
                          </div>
                          <!-- <div class="team-social">
                            <div class="team-social-share">
                              <img
                                src="assets/images/share-icon.svg"
                                width="15"
                                height="17"
                                alt="Share Icon"
                              />
                            </div>
                            <ul>
                              <li>
                                <a
                                  href="https://facebook.com/"
                                  title="Follow on Facebook"
                                  target="_blank"
                                  ><i class="fab fa-facebook-f"></i
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://instagram.com/"
                                  title="Follow on Instagram"
                                  target="_blank"
                                  ><i class="fab fa-instagram"></i
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://linkedin.com/"
                                  title="Follow on LinkedIn"
                                  target="_blank"
                                  ><i
                                    class="fab fa-linkedin-in"
                                    aria-hidden="true"
                                  ></i
                                ></a>
                              </li>
                            </ul>
                          </div> -->
                        </div>
                        <p>Founding Member</p>
                        <h4 class="h4-title">
                          <a href="team-detail.html" title="George Damian"
                            >Odaro Omonuwa Esq</a
                          >
                        </h4>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="team-box">
                        <div class="team-img-wp">
                          <div class="team-img">
                            <img
                              src="assets/img/omonuwa_gallery_6.png"
                              width="317"
                              height="368"
                              alt="Jack Callum"
                            />
                          </div>
                          <!-- <div class="team-social">
                            <div class="team-social-share">
                              <img
                                src="assets/images/share-icon.svg"
                                width="15"
                                height="17"
                                alt="Share Icon"
                              />
                            </div>
                            <ul>
                              <li>
                                <a
                                  href="https://facebook.com/"
                                  title="Follow on Facebook"
                                  target="_blank"
                                  ><i class="fab fa-facebook-f"></i
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://instagram.com/"
                                  title="Follow on Instagram"
                                  target="_blank"
                                  ><i class="fab fa-instagram"></i
                                ></a>
                              </li>
                              <li>
                                <a
                                  href="https://linkedin.com/"
                                  title="Follow on LinkedIn"
                                  target="_blank"
                                  ><i
                                    class="fab fa-linkedin-in"
                                    aria-hidden="true"
                                  ></i
                                ></a>
                              </li>
                            </ul>
                          </div> -->
                        </div>
                        <p>Principal</p>
                        <h4 class="h4-title">
                          <a href="team-detail.html" title="Jack Callum"
                            >Adesuwa Omonuwa Esq</a
                          >
                        </h4>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Subscribe Start -->
      <section class="main-subscribe">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div
                class="subscribe-box text-center wow fadeup-animation"
                data-wow-duration="0.8s"
                data-wow-delay="0.2s"
              >
                <span class="sub-title">SUBSCRIBE FOR UPDATE</span>
                <h3 class="h3-title">Get Latest Legal Advice Now !</h3>
                <div class="subscribe-form">
                  <form>
                    <input
                      type="email"
                      class="form-input"
                      placeholder="Email Address..."
                      required
                    />
                    <button class="sec-btn"><span>Subscribe Now</span></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- How it works -->
      <section class="main-faq">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div
                class="faq-img-wp wow left-animation"
                data-wow-duration="0.8s"
                data-wow-delay="0.2s"
              >
                <div
                  class="faq-img1 back-img"
                  style="
                    background-image: url('assets/img/omonuwa_gallery_1.png');
                  "
                ></div>
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div
                class="faq-sec-content wow right-animation"
                data-wow-duration="0.8s"
                data-wow-delay="0.2s"
              >
                <span class="sub-title">How It Works</span>
                <h2 class="h2-title">We fight until you win</h2>
                <div class="faq-accordion">
                  <div class="faq-accordion-box">
                    <div class="faq-accordion-title">
                      <h4 class="h4-title">Request a consultation</h4>
                      <span class="icon"
                        ><i class="fas fa-arrow-right" aria-hidden="true"></i
                      ></span>
                    </div>
                    <div class="faq-accordion-content">
                      <p>
                        The first meeting helps our attorneys pinpoint the main
                        issues of your case and get to know you as the potential
                        client. You can either call any of the numbers in our
                        website to book a consultation or request it online.
                      </p>
                    </div>
                  </div>
                  <div class="faq-accordion-box">
                    <div class="faq-accordion-title">
                      <h4 class="h4-title">Sign a contract</h4>
                      <span class="icon"
                        ><i class="fas fa-arrow-right" aria-hidden="true"></i
                      ></span>
                    </div>
                    <div class="faq-accordion-content">
                      <p>
                        After signing a contract with our firm, we start working
                        on the matter. This formality helps us and our clients
                        set the terms, the goals, and the main points of our
                        cooperation.
                      </p>
                    </div>
                  </div>
                  <div class="faq-accordion-box">
                    <div class="faq-accordion-title">
                      <h4 class="h4-title">Investigation of a case</h4>
                      <span class="icon"
                        ><i class="fas fa-arrow-right" aria-hidden="true"></i
                      ></span>
                    </div>
                    <div class="faq-accordion-content">
                      <p>
                        Doing a research is the essential process of working on
                        a client`s case. The attorneys need to investigate the
                        case prior to going to court. In fact, the investigation
                        might take quite some time to make it effective and
                        reliable.
                      </p>
                    </div>
                  </div>
                  <div class="faq-accordion-box">
                    <div class="faq-accordion-title">
                      <h4 class="h4-title">Preparation of a case</h4>
                      <span class="icon"
                        ><i class="fas fa-arrow-right" aria-hidden="true"></i
                      ></span>
                    </div>
                    <div class="faq-accordion-content">
                      <p>
                        This is fundamental to understanding the evidence and
                        its implications in any given matter. It enables the use
                        of the facts to support a case and provides a clear
                        picture to understand and analyze any potential problems
                        and its implications.
                      </p>
                    </div>
                  </div>

                  <div class="faq-accordion-box">
                    <div class="faq-accordion-title">
                      <h4 class="h4-title">Fight in a court</h4>
                      <span class="icon"
                        ><i class="fas fa-arrow-right" aria-hidden="true"></i
                      ></span>
                    </div>
                    <div class="faq-accordion-content">
                      <p>
                        We will be attending court sessions to get the final
                        resolution for the case. This is an inevitable step for
                        resolving a legal issue.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Counter Start -->
      <section class="main-counter">
        <div class="container">
          <div class="col-12">
            <div class="counter-list" id="counter">
              <div class="counter-box">
                <div class="counter-title">
                  <h2 class="h1-title">
                    <span class="counting" data-count="300">0</span>+
                  </h2>
                </div>
                <div class="counter-text">
                  <h4 class="h4-title">Trusting <span>Clients</span></h4>
                </div>
              </div>
              <div class="counter-box">
                <div class="counter-title">
                  <h2 class="h1-title">
                    <span class="counting" data-count="99">0</span>%
                  </h2>
                </div>
                <div class="counter-text">
                  <h4 class="h4-title">Successful <span>Cases</span></h4>
                </div>
              </div>
              <div class="counter-box">
                <div class="counter-title">
                  <h2 class="h1-title">
                    <span class="counting" data-count="40">0</span>
                  </h2>
                </div>
                <div class="counter-text">
                  <h4 class="h4-title">Years of <span>Experience</span></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Blog Start -->
      <section class="main-blog">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="blog-title text-center">
                <span class="sub-title">OUR BLOG</span>
                <h2 class="h2-title">Explore Our Latest Blog</h2>
              </div>
            </div>
          </div>
          <div class="blog-lists">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div
                  class="blog-box wow fadeup-animation"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.2s"
                >
                  <div class="blog-img-box">
                    <div class="blog-img-wp">
                      <div
                        class="blog-img back-img"
                        style="
                          background-image: url('assets/img/omonuwa_gallery_5.png');
                        "
                      ></div>
                    </div>
                    <span class="blog-date"
                      ><img
                        src="assets/images/calendar-icon.svg"
                        width="20"
                        height="18"
                        alt="Calendar Icon"
                      />17 Dec., 2024</span
                    >
                  </div>
                  <div class="blog-box-text">
                    <h4 class="h4-title">
                      <a
                        href="blog-detail.html"
                        title="Proven legal tactics for effective representation."
                        >Proven legal tactics for effective representation.</a
                      >
                    </h4>
                    <p>
                      Fusce elementum nibh, quis suscipit quam venenatis eget.
                      Donec ut egestas nunc. Proin convallis velit purus, quis
                      sollicitudin dolor vehicula ac.
                    </p>
                    <a
                      href="blog-detail.html"
                      class="link-btn"
                      title="Discover More"
                      ><span>Discover More</span
                      ><i class="fas fa-arrow-right" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div
                  class="blog-box wow fadeup-animation"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.3s"
                >
                  <div class="blog-img-box">
                    <div class="blog-img-wp">
                      <div
                        class="blog-img back-img"
                        style="
                          background-image: url('assets/img/omonuwa_gallery_9.png');
                        "
                      ></div>
                    </div>
                    <span class="blog-date"
                      ><img
                        src="assets/images/calendar-icon.svg"
                        width="20"
                        height="18"
                        alt="Calendar Icon"
                      />18 Dec., 2024</span
                    >
                  </div>
                  <div class="blog-box-text">
                    <h4 class="h4-title">
                      <a
                        href="blog-detail.html"
                        title="Defending your rights by expert guidance."
                        >Defending your rights by expert guidance.</a
                      >
                    </h4>
                    <p>
                      Fusce elementum nibh, quis suscipit quam venenatis eget.
                      Donec ut egestas nunc. Proin convallis velit purus, quis
                      sollicitudin dolor vehicula ac.
                    </p>
                    <a
                      href="blog-detail.html"
                      class="link-btn"
                      title="Discover More"
                      ><span>Discover More</span
                      ><i class="fas fa-arrow-right" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div
                  class="blog-box wow fadeup-animation"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.4s"
                >
                  <div class="blog-img-box">
                    <div class="blog-img-wp">
                      <div
                        class="blog-img back-img"
                        style="
                          background-image: url('assets/img/Omonuwa-3_3_11zon-scaled.jpg');
                        "
                      ></div>
                    </div>
                    <span class="blog-date"
                      ><img
                        src="assets/images/calendar-icon.svg"
                        width="20"
                        height="18"
                        alt="Calendar Icon"
                      />19 Dec., 2024</span
                    >
                  </div>
                  <div class="blog-box-text">
                    <h4 class="h4-title">
                      <a
                        href="blog-detail.html"
                        title="Development Violence in California a Lawyer Can Help."
                        >Development Violence in California a Lawyer Can
                        Help.</a
                      >
                    </h4>
                    <p>
                      Fusce elementum nibh, quis suscipit quam venenatis eget.
                      Donec ut egestas nunc. Proin convallis velit purus, quis
                      sollicitudin dolor vehicula ac.
                    </p>
                    <a
                      href="blog-detail.html"
                      class="link-btn"
                      title="Discover More"
                      ><span>Discover More</span
                      ><i class="fas fa-arrow-right" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer Start -->
      <footer class="site-footer">
        <div class="container">
          <div class="footer-top">
            <div class="row">
              <div class="col-lg-3">
                <div class="footer-info">
                  <h4 class="h4-title footer-title">About Us</h4>
                  <p>
                    At Dr. G. I. S. Omonuwa & Co., we provide exceptional legal
                    solutions, combining expertise, integrity, and dedication to
                    protect your interests.
                  </p>
                  <div class="social-media">
                    <a href="#"
                      ><i class="fab fa-facebook-f" aria-hidden="true"></i
                    ></a>
                    <a href="#"
                      ><i class="fab fa-instagram" aria-hidden="true"></i
                    ></a>
                    <a
                      href="https://linkedin.com/"
                      title="Follow on LinkedIn"
                      target="_blank"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-md-3">
                <div class="footer-link-wp">
                  <div class="footer-link">
                    <h4 class="h4-title footer-title">Our Links</h4>
                    <ul>
                      <li>
                        <a href="index-2.html">Home</a>
                      </li>
                      <li>
                        <a href="about-us.html">About Us</a>
                      </li>
                      <li>
                        <a href="blog-list.html">News</a>
                      </li>
                      <li>
                        <a href="contact-us.html">Contact Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="footer-link-wp">
                  <div class="footer-link">
                    <h4 class="h4-title footer-title">Our Services</h4>
                    <ul>
                      <li>
                        <a href="service-detail.html">Professional Advice</a>
                      </li>
                      <li>
                        <a href="service-detail.html">Employment Law</a>
                      </li>
                      <li>
                        <a href="service-detail.html">Accident Law</a>
                      </li>
                      <li>
                        <a href="service-detail.html">Top Legal Experts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-5">
                <div class="footer-contact">
                  <h4 class="h4-title footer-title">Contact Us</h4>
                  <ul>
                    <li>
                      <span class="icon"
                        ><i class="fas fa-map-marker-alt"></i
                      ></span>
                      <div class="text">
                        <div>
                          <a href="#"
                            >31, Aiguobasimwin Crescent, GRA, Benin City.</a
                          >
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="icon"><i class="fas fa-envelope"></i></span>
                      <div class="text">
                        <div>
                          <a href="#">info@omonuwa.com</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="icon"><i class="fas fa-phone-alt"></i></span>
                      <div class="text">
                        <div>
                          <a href="#">+234 123 456 789</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <p>
              &copy; 2024 All Rights Reserved. | Designed by 3MTT x CodeNation
              Cohort 2 Software Development Fellows
            </p>
          </div>
        </div>
      </footer>

      <!-- Scroll To Top Start -->
      <a href="javascript:void(0);" id="scroll-to-top" class="scroll-to-top">
        <i class="fas fa-arrow-up"></i>
      </a>
    </div>

    <!-- Jquery JS Link -->
    <script src="assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap JS Link -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>

    <!-- Swiper Slider JS Link -->
    <script src="assets/js/swiper-bundle.min.js"></script>

    <!-- Fancybox JS Link -->
    <script src="assets/js/jquery.fancybox.min.js"></script>

    <!-- Font Awesome JS Link -->
    <script src="assets/js/font-awesome.min.js"></script>

    <!-- Wow Animation JS Link -->
    <script src="assets/js/wow.min.js"></script>

    <!-- Custom JS Link -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/custom-scroll-count.js"></script>
  </body>
</html>
