<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Dr. G. I. S. Omonuwa &amp; Co. &#8211; Legal Practitioners and Advisors,
      Civil, Criminal and Corporate Litigation, Property Consultants, Chartered
      International Commercial Arbitrators, Intellectual property consultants.
    </title>
    <meta
      name="keywords"
      content="Dr. G. I. S. Omonuwa, Attorney in Benin City, Lawyers in Edo State, Lawyers in Nigeria, Attorney in Nigeria,"
    />
    <meta
      name="description"
      content="Legal Practitioners and AdvisorsDealing with public and private business relations is easier with our professional help.Criminal and Corporate LitigationWe work with top executives to help them make better decisions regarding criminal cases.Chartered Int&#039;l Commercial ArbitratorsWe determine if there is a liability on the part of our client and defend against any payment.Intellectual Property ConsultantsWe work with clients to attain effective protection for their brands, intangible assets, concepts and business operating plans. Property ConsultantsOur attorneys are experienced and highly skilled in all aspects of property law trial work.Oil and GasWe provide legal services and support on complex oil, gas, power and mining projects, amongst othersEmployment LawClaims against employers, general liability claims, subrogation actions, and compensations.TaxationWe provide quality, innovative tax solutions in the increasingly complex area of tax legislation and practice."
    />

    <!-- Bootstrap CSS Link -->
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/bootstrap.min.css"
    />

    <!-- Main Style CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
  </head>

  <body class="fixed">
    <div class="main">
      <!-- Header Start -->
      <header class="site-header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="header-box">
                <div class="site-branding">
                  <a href="index">
                    <img
                      src="assets/img/logo-black.png"
                      width="164"
                      height="47"
                    />
                  </a>
                </div>
                <div class="header-menu">
                  <nav class="main-navigation">
                    <button class="toggle-button"><span></span></button>
                    <div class="mobile-menu-box">
                      <ul>
                        <li class="active">
                          <a href="index">Home</a>
                        </li>
                        <li class="sub-items">
                          <a href="javascript:void(0);">About</a>
                          <ul class="sub-menu">
                            <li>
                              <a href="our-firm">Our Firm</a>
                            </li>
                            <li>
                              <a href="service-detail">Areas of Practice</a>
                            </li>
                            <li>
                              <a href="service-detail">Our Attorneys</a>
                            </li>
                            <li>
                              <a href="service-detail">Gallery</a>
                            </li>
                          </ul>
                        </li>

                        <li>
                          <a href="blog-list">News</a>
                        </li>
                        <li>
                          <a href="faq">FAQs</a>
                        </li>
                        <li>
                          <a href="contact-us">Contact Us</a>
                        </li>
                      </ul>
                      <div class="for-mob">
                        <div class="header-mob-btn">
                          <a href="contact-us.html" class="sec-btn"
                            ><span>Appointment</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </nav>
                  <div class="header-btn">
                    <a href="contact-us.html" class="sec-btn"
                      ><span>Appointment</span></a
                    >
                  </div>
                  <div class="black-shadow"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Banner Start -->
      <section class="main-inner-banner">
        <span class="bg-icon"></span>
        <div class="inner-banner-shape"></div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="inner-banner-content">
                <h1 class="h1-title">News</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->

      <!-- Breadcrumb Start -->
      <div class="breadcrumb-box">
        <ul>
          <li>
            <a href="index" title="HOME">HOME</a>
          </li>
          <li>NEWS</li>
        </ul>
      </div>

      <!-- Blog Grid Start -->
      <section class="page-blog-list">
        <div class="container">
          <div class="blog-lists">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div
                  class="blog-box wow fadeup-animation"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.2s"
                >
                  <div class="blog-img-box">
                    <div class="blog-img-wp">
                      <div
                        class="blog-img back-img"
                        style="
                          background-image: url('assets/images/blog-img4.jpg');
                        "
                      ></div>
                    </div>
                    <span class="blog-date"
                      ><img
                        src="assets/images/calendar-icon.svg"
                        width="20"
                        height="18"
                        alt="Calendar Icon"
                      />17 Dec., 2024</span
                    >
                  </div>
                  <div class="blog-box-text">
                    <h4 class="h4-title">
                      <a
                        href="blog-detail.html"
                        title="Filing a Claim against a Cruise Ship Contractual Limitations."
                        >Filing a Claim against a Cruise Ship Contractual
                        Limitations.</a
                      >
                    </h4>
                    <p>
                      Fusce elementum nibh, quis suscipit quam venenatis eget.
                      Donec ut egestas nunc. Proin convallis velit purus, quis
                      sollicitudin dolor vehicula ac.
                    </p>
                    <a
                      href="blog-detail.html"
                      class="link-btn"
                      title="Discover More"
                      ><span>Discover More</span
                      ><i class="fas fa-arrow-right" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div
                  class="blog-box wow fadeup-animation"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.3s"
                >
                  <div class="blog-img-box">
                    <div class="blog-img-wp">
                      <div
                        class="blog-img back-img"
                        style="
                          background-image: url('assets/images/blog-img5.jpg');
                        "
                      ></div>
                    </div>
                    <span class="blog-date"
                      ><img
                        src="assets/images/calendar-icon.svg"
                        width="20"
                        height="18"
                        alt="Calendar Icon"
                      />17 Dec., 2024</span
                    >
                  </div>
                  <div class="blog-box-text">
                    <h4 class="h4-title">
                      <a
                        href="blog-detail.html"
                        title="Domestic Violence in California – How a Lawyer Can Help."
                        >Domestic Violence in California – How a Lawyer Can
                        Help.</a
                      >
                    </h4>
                    <p>
                      Fusce elementum nibh, quis suscipit quam venenatis eget.
                      Donec ut egestas nunc. Proin convallis velit purus, quis
                      sollicitudin dolor vehicula ac.
                    </p>
                    <a
                      href="blog-detail.html"
                      class="link-btn"
                      title="Discover More"
                      ><span>Discover More</span
                      ><i class="fas fa-arrow-right" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div
                  class="blog-box wow fadeup-animation"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.4s"
                >
                  <div class="blog-img-box">
                    <div class="blog-img-wp">
                      <div
                        class="blog-img back-img"
                        style="
                          background-image: url('assets/images/blog-img6.jpg');
                        "
                      ></div>
                    </div>
                    <span class="blog-date"
                      ><img
                        src="assets/images/calendar-icon.svg"
                        width="20"
                        height="18"
                        alt="Calendar Icon"
                      />17 Dec., 2024</span
                    >
                  </div>
                  <div class="blog-box-text">
                    <h4 class="h4-title">
                      <a
                        href="blog-detail.html"
                        title="Day Care Responsibility to Protect Children."
                        >Day Care Responsibility to Protect Children.</a
                      >
                    </h4>
                    <p>
                      Fusce elementum nibh, quis suscipit quam venenatis eget.
                      Donec ut egestas nunc. Proin convallis velit purus, quis
                      sollicitudin dolor vehicula ac.
                    </p>
                    <a
                      href="blog-detail.html"
                      class="link-btn"
                      title="Discover More"
                      ><span>Discover More</span
                      ><i class="fas fa-arrow-right" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div
                  class="blog-box wow fadeup-animation"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.2s"
                >
                  <div class="blog-img-box">
                    <div class="blog-img-wp">
                      <div
                        class="blog-img back-img"
                        style="
                          background-image: url('assets/images/blog-img7.jpg');
                        "
                      ></div>
                    </div>
                    <span class="blog-date"
                      ><img
                        src="assets/images/calendar-icon.svg"
                        width="20"
                        height="18"
                        alt="Calendar Icon"
                      />17 Dec., 2024</span
                    >
                  </div>
                  <div class="blog-box-text">
                    <h4 class="h4-title">
                      <a
                        href="blog-detail.html"
                        title="Doctor’s Failure to Diagnose a Medical Condition."
                        >Doctor’s Failure to Diagnose a Medical Condition.</a
                      >
                    </h4>
                    <p>
                      Fusce elementum nibh, quis suscipit quam venenatis eget.
                      Donec ut egestas nunc. Proin convallis velit purus, quis
                      sollicitudin dolor vehicula ac.
                    </p>
                    <a
                      href="blog-detail.html"
                      class="link-btn"
                      title="Discover More"
                      ><span>Discover More</span
                      ><i class="fas fa-arrow-right" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div
                  class="blog-box wow fadeup-animation"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.3s"
                >
                  <div class="blog-img-box">
                    <div class="blog-img-wp">
                      <div
                        class="blog-img back-img"
                        style="
                          background-image: url('assets/images/blog-img8.jpg');
                        "
                      ></div>
                    </div>
                    <span class="blog-date"
                      ><img
                        src="assets/images/calendar-icon.svg"
                        width="20"
                        height="18"
                        alt="Calendar Icon"
                      />17 Dec., 2024</span
                    >
                  </div>
                  <div class="blog-box-text">
                    <h4 class="h4-title">
                      <a
                        href="blog-detail.html"
                        title="Do I Need to Change My Business Name if Someone Has It?"
                        >Do I Need to Change My Business Name if Someone Has
                        It?</a
                      >
                    </h4>
                    <p>
                      Fusce elementum nibh, quis suscipit quam venenatis eget.
                      Donec ut egestas nunc. Proin convallis velit purus, quis
                      sollicitudin dolor vehicula ac.
                    </p>
                    <a
                      href="blog-detail.html"
                      class="link-btn"
                      title="Discover More"
                      ><span>Discover More</span
                      ><i class="fas fa-arrow-right" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div
                  class="blog-box wow fadeup-animation"
                  data-wow-duration="0.8s"
                  data-wow-delay="0.4s"
                >
                  <div class="blog-img-box">
                    <div class="blog-img-wp">
                      <div
                        class="blog-img back-img"
                        style="
                          background-image: url('assets/images/blog-img9.jpg');
                        "
                      ></div>
                    </div>
                    <span class="blog-date"
                      ><img
                        src="assets/images/calendar-icon.svg"
                        width="20"
                        height="18"
                        alt="Calendar Icon"
                      />17 Dec., 2024</span
                    >
                  </div>
                  <div class="blog-box-text">
                    <h4 class="h4-title">
                      <a
                        href="blog-detail.html"
                        title="What To Do When Your Ex Won’t Pay Child Support"
                        >What To Do When Your Ex Won’t Pay Child Support</a
                      >
                    </h4>
                    <p>
                      Fusce elementum nibh, quis suscipit quam venenatis eget.
                      Donec ut egestas nunc. Proin convallis velit purus, quis
                      sollicitudin dolor vehicula ac.
                    </p>
                    <a
                      href="blog-detail.html"
                      class="link-btn"
                      title="Discover More"
                      ><span>Discover More</span
                      ><i class="fas fa-arrow-right" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog-pagination">
              <ul>
                <li class="arrow">
                  <a href="javascript:void(0);" title="Previous"
                    ><i class="fas fa-chevron-left"></i
                  ></a>
                </li>
                <li class="active">
                  <a href="javascript:void(0);" title="1">1</a>
                </li>
                <li>
                  <a href="javascript:void(0);" title="2">2</a>
                </li>
                <li>
                  <a href="javascript:void(0);" title="3">3</a>
                </li>
                <li>
                  <a href="javascript:void(0);" title="4">4</a>
                </li>
                <li>
                  <a href="javascript:void(0);" title="5">5</a>
                </li>
                <li class="arrow">
                  <a href="javascript:void(0);" title="Previous"
                    ><i class="fas fa-chevron-right"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer Start -->
      <footer class="site-footer">
        <div class="container">
          <div class="footer-top">
            <div class="row">
              <div class="col-lg-3">
                <div class="footer-info">
                  <h4 class="h4-title footer-title">About Us</h4>
                  <p>
                    At Dr. G. I. S. Omonuwa & Co., we provide exceptional legal
                    solutions, combining expertise, integrity, and dedication to
                    protect your interests.
                  </p>
                  <div class="social-media">
                    <a href="#"
                      ><i class="fab fa-facebook-f" aria-hidden="true"></i
                    ></a>
                    <a href="#"
                      ><i class="fab fa-instagram" aria-hidden="true"></i
                    ></a>
                    <a
                      href="https://linkedin.com/"
                      title="Follow on LinkedIn"
                      target="_blank"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-md-3">
                <div class="footer-link-wp">
                  <div class="footer-link">
                    <h4 class="h4-title footer-title">Our Links</h4>
                    <ul>
                      <li>
                        <a href="index-2.html">Home</a>
                      </li>
                      <li>
                        <a href="about-us.html">About Us</a>
                      </li>
                      <li>
                        <a href="blog-list.html">News</a>
                      </li>
                      <li>
                        <a href="contact-us.html">Contact Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="footer-link-wp">
                  <div class="footer-link">
                    <h4 class="h4-title footer-title">Our Services</h4>
                    <ul>
                      <li>
                        <a href="service-detail.html">Professional Advice</a>
                      </li>
                      <li>
                        <a href="service-detail.html">Employment Law</a>
                      </li>
                      <li>
                        <a href="service-detail.html">Accident Law</a>
                      </li>
                      <li>
                        <a href="service-detail.html">Top Legal Experts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-5">
                <div class="footer-contact">
                  <h4 class="h4-title footer-title">Contact Us</h4>
                  <ul>
                    <li>
                      <span class="icon"
                        ><i class="fas fa-map-marker-alt"></i
                      ></span>
                      <div class="text">
                        <div>
                          <a href="#"
                            >31, Aiguobasimwin Crescent, GRA, Benin City.</a
                          >
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="icon"><i class="fas fa-envelope"></i></span>
                      <div class="text">
                        <div>
                          <a href="#">info@omonuwa.com</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="icon"><i class="fas fa-phone-alt"></i></span>
                      <div class="text">
                        <div>
                          <a href="#">+234 123 456 789</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <p>
              &copy; 2024 All Rights Reserved. | Designed by 3MTT x CodeNation
              Cohort 2 Software Development Fellows
            </p>
          </div>
        </div>
      </footer>

      <!-- Scroll To Top Start -->
      <a href="javascript:void(0);" id="scroll-to-top" class="scroll-to-top">
        <i class="fas fa-arrow-up"></i>
      </a>
    </div>

    <!-- Jquery JS Link -->
    <script src="assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap JS Link -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>

    <!-- Swiper Slider JS Link -->
    <script src="assets/js/swiper-bundle.min.js"></script>

    <!-- Fancybox JS Link -->
    <script src="assets/js/jquery.fancybox.min.js"></script>

    <!-- Font Awesome JS Link -->
    <script src="assets/js/font-awesome.min.js"></script>

    <!-- Wow Animation JS Link -->
    <script src="assets/js/wow.min.js"></script>

    <!-- Custom JS Link -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/custom-scroll-count.js"></script>
  </body>
</html>
