.main-banner {
  position: relative;
  padding-top: 157px;
  background: var(--bg-color);
  overflow: hidden;
}

.banner-content {
  margin: 60px 0;
}

.banner-content p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 33px;
}

.banner-img {
  position: relative;
  padding-top: 49px;
}

.banner-img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 81.134%;
  aspect-ratio: 1 / 1.1163;
  background: var(--primary-color);
  opacity: 0.1;
  border-radius: 59% 41% 35% 65% / 53% 36% 64% 47%;
  animation: radius_animation 8s linear infinite alternate;
  z-index: 0;
}

@keyframes radius_animation {
  0% {
    border-radius: 59% 41% 35% 65% / 53% 36% 64% 47%;
  }

  50% {
    border-radius: 26% 74% 33% 67% / 67% 61% 39% 33%;
  }

  100% {
    border-radius: 59% 41% 35% 65% / 53% 36% 64% 47%;
  }
}

.banner-img img {
  position: relative;
  z-index: 5;
}

.banner-img .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 101px;
  background: var(--overlay-color);
  pointer-events: none;
  z-index: 10;
}
