.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--gray-color);
  padding: 26px 0;
  transition: 0.3s;
  z-index: 100;
}

.site-header.sticky-header {
  background: var(--white-color);
  padding: 15px 0;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.site-branding {
  width: 164px;
  flex-shrink: 0;
}

.header-menu {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation ul:not(.main-navigation ul ul) {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main-navigation li {
  font-size: 16px;
  line-height: 1.3;
  position: relative;
}

.main-navigation li a {
  font-size: 16px;
  line-height: 1.3;
  color: var(--secondary-color);
  font-family: var(--title-font);
  font-weight: 700;
  transition: 0.3s;
}

.main-navigation li a:hover,
.main-navigation li.active > a {
  color: var(--primary-color);
}

.main-navigation ul li.sub-items > a {
  padding-right: 15px;
  position: relative;
}

.main-navigation ul li.sub-items:hover > a {
  color: var(--primary-color);
}

.main-navigation ul li.sub-items > a:after {
  content: "\f078";
  position: absolute;
  top: 60%;
  right: 0;
  transform: translate(0, -50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 1;
  transition: 0.3s;
}

.main-navigation ul li.sub-items:hover > a:after,
.main-navigation ul li.sub-items > a:hover:after {
  color: var(--primary-color);
  transform: translate(0, -50%) rotate(-180deg);
}

.main-navigation ul li.sub-items.active > a:after {
  color: var(--primary-color);
}

.main-navigation ul li ul.sub-menu {
  position: absolute;
  top: 100%;
  left: -15px;
  width: 200px;
  height: auto;
  background: var(--white-color);
  border-radius: 8px;
  box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
  display: none;
  transition: 0.3s;
  overflow: hidden;
  z-index: 150;
}

.main-navigation ul li:hover ul.sub-menu {
  display: block;
  animation: swip_up 0.3s linear 1;
}

@keyframes swip_up {
  from {
    transform: translate(0, 20px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.main-navigation ul li ul.sub-menu li {
  display: block;
  text-align: left;
  margin: 0;
  border-bottom: 1px solid #ebebeb;
}

.main-navigation ul li ul.sub-menu li:last-child {
  border-bottom: none;
}

.main-navigation ul li ul.sub-menu li a {
  display: block;
  padding: 8px 15px;
  transition: 0.3s;
}

.main-navigation ul li ul.sub-menu li a:hover,
.main-navigation ul li ul.sub-menu li.active > a {
  background: var(--primary-color);
  color: var(--white-color);
}
