p {
  font-size: 15px;
  line-height: 25px;
  color: var(--common-color);
  font-weight: normal;
  margin-bottom: 25px;
}

p:last-child {
  margin-bottom: 0;
}

.title {
  text-align: center;
  margin-bottom: 45px;
}

.title.left {
  text-align: left;
}

.title p {
  margin-top: 25px;
}

.sub-title {
  font-size: 22px;
  line-height: 29px;
  color: var(--primary-color);
  font-family: var(--title-font);
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;
}

.h1-title {
  font-size: 80px;
  line-height: 90px;
  color: var(--secondary-color);
  font-weight: bold;
  font-family: var(--title-font);
  text-transform: capitalize;
  margin-bottom: 18px;
}

.h2-title {
  font-size: 65px;
  line-height: 75px;
  font-weight: bold;
  color: var(--secondary-color);
  font-family: var(--title-font);
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
}

.h3-title {
  font-size: 50px;
  line-height: 60px;
  color: var(--secondary-color);
  font-weight: bold;
  font-family: var(--title-font);
  text-transform: capitalize;
  margin-bottom: 25px;
}

.h4-title {
  font-size: 25px;
  line-height: 35px;
  color: var(--secondary-color);
  font-weight: bold;
  font-family: var(--title-font);
  margin-bottom: 0;
}
