<!-- Blog Detail Start -->
<section class="page-blog-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-detail-content">
          <div
            class="page-blog-lists wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="blog-img-box">
              <div class="blog-img-wp">
                <div
                  class="blog-img back-img"
                  style="background-image: url('/assets/images/blog-img1.jpg')"
                ></div>
              </div>
              <span class="blog-date"
                ><img
                  src="/assets/images/calendar-icon.svg"
                  width="20"
                  height="18"
                  alt="Calendar Icon"
                />7 June, 2024</span
              >
            </div>
          </div>
          <h2 class="h2-title">
            Proven legal tactics for effective representation.
          </h2>
          <div class="blog-detail-text-box">
            <p>
              Pellentesque quis facilisis velit, non venenatis dui. Aliquam erat
              volutpat. Phasellus vulputate elit at nulla pellentesque, sit amet
              consequat metus viverra. Ut vitae fringilla lorem, vitae tincidunt
              tellus. Etiam luctus nulla ut bibendum finibus. Suspendisse mauris
              dolor, varius ac urna eu, elementum lobortis velit.
            </p>
            <p>
              Integer eget mauris cursus, finibus nunc non, consectetur dui.
              Vestibulum at nunc luctus, tempor sapien et, dignissim elit.
              Interdum et malesuada fames ac ante ipsum primis in faucibus.
              Donec augue est, ornare vel bibendum ut, molestie a sapien.
              Suspendisse quis vestibulum orci. Phasellus dictum malesuada elit,
              sit amet pretium sem sodales eu. Curabitur id sem congue, sagittis
              est ut, feugiat augue.
            </p>
          </div>
          <div class="blog-detail-text-box">
            <blockquote>
              <h4 class="h4-title">
                Donec ac augue a enim tempus cinia sed id odio. Orci arius
                natoque penatibu magnis parturient elementum.
              </h4>
              <span class="quote"
                ><img
                  src="/assets/images/blog-quote-icon.svg"
                  width="21"
                  height="15"
                  alt="Quote"
              /></span>
            </blockquote>
          </div>

          <div class="blog-detail-text-box">
            <p>
              Ut dui ipsum, eleifend vel lectus a, sollicitudin faucibus elit.
              Mauris euismod ultrices tincidunt. Cras suscipit nulla eget ipsum
              ullamcorper, eget pharetra dui sagittis. Suspendisse elementum
              purus a sem tincidunt congue. Vestibulum ut risus tellus.
              Vestibulum venenatis sem vel ipsum fermentum consectetur. Nam
              sodales luctus odio, vitae viverra libero pellentesque et.
            </p>
          </div>
          <div class="blog-detail-tags-share">
            <div class="blog-detail-tags">
              <p>Tags:</p>
              <ul>
                <li>
                  <a href="javascript:void(0);" title="Personal Injury"
                    >Personal Injury</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0);" title="Property">Property</a>
                </li>
                <li>
                  <a href="javascript:void(0);" title="Antitrust">Antitrust</a>
                </li>
              </ul>
            </div>
            <div class="blog-share">
              <p>Share:</p>
              <div class="blog-share-box">
                <div class="blog-share-icon">
                  <img
                    src="/assets/images/share-icon.svg"
                    width="15"
                    height="17"
                    alt="Share Icon"
                  />
                </div>
                <ul>
                  <li>
                    <a href="#" title="Follow on Facebook" target="_blank"
                      ><i class="fab fa-facebook-f" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on Instagram" target="_blank"
                      ><i class="fab fa-instagram" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Follow on LinkedIn" target="_blank"
                      ><i class="fab fa-linkedin-in" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="sidebar wow right-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <div class="blog-tags">
            <h4 class="h4-title">Legal Tags</h4>
            <ul>
              <li>
                <a href="javascript:void(0);" title="Legal Advice"
                  >Legal Advice</a
                >
              </li>

              <li>
                <a href="javascript:void(0);" title="Employment">Employment</a>
              </li>
              <li>
                <a href="javascript:void(0);" title="Personal Injury"
                  >Personal Injury</a
                >
              </li>
              <li>
                <a href="javascript:void(0);" title="Property">Property</a>
              </li>
            </ul>
          </div>

          <%- include('../partials/blog-contact') %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Detail End -->
