<!-- Service Detail Start -->
<section class="main-service-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div
          class="service-detail-content wow left-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <div class="service-detail-content-title">
            <div class="icon">
              <img
                src="/assets/images/Professional-Advice.svg"
                width="35"
                height="35"
                alt="Professional Advice"
              />
            </div>
            <h2 class="h2-title">Employment Law</h2>
          </div>
          <div class="service-detail-content-box">
            <p>
              Navigating the intricate relationship between employers and
              employees requires skilled legal guidance. At Dr. G. I. S. Omonuwa
              & Co., we provide comprehensive legal services designed to protect
              your rights and interests in all employment-related matters.
              Whether you are an employer seeking to ensure compliance and
              mitigate risk, or an employee facing an unjust situation, our
              experienced team offers the professional advice and robust
              representation you need to achieve a favorable outcome.
            </p>
          </div>
          <div class="service-detail-content-box img">
            <img
              src="/assets/images/Professional-Advice-img.jpg"
              width="830"
              height="450"
              alt="Professional Advice"
            />
          </div>
          <div class="service-detail-content-box">
            <h4 class="h4-title">Why Choose Our Firm for Employment Law?</h4>
            <p>
              The complexities of Nigerian Labour Law demand a legal partner
              with specialized knowledge and a strategic approach. We are
              dedicated to providing insightful counsel and effective solutions
              tailored to the unique circumstances of each client.
            </p>
          </div>
          <div class="service-detail-content-box">
            <ul>
              <li>
                Strategic & Proactive Counsel: We focus on advance planning to
                prevent disputes before they arise, helping businesses foster a
                compliant and positive workplace.
              </li>
              <li>
                ASpecialized Expertise: Our lawyers possess in-depth,
                specialized knowledge of employment law, ensuring you receive
                the most current and effective legal advice.
              </li>
              <li>
                Dedicated Representation: We are committed to our clients'
                success, offering tenacious advocacy in negotiations,
                mediations, and courtroom proceedings.
              </li>
              <li>
                Client-Centered Solutions: We listen to your needs and goals to
                develop tailored legal strategies that address your specific
                challenges and objectives.
              </li>
            </ul>
          </div>
          <div class="service-detail-content-box">
            <h4 class="h4-title">Our Comprehensive Employment Law Services</h4>
            <p>
              We offer a full spectrum of legal services covering all aspects of
              employment and labour law. Our expertise ensures that your case is
              handled with the highest degree of professionalism and skill.
            </p>
            <!-- <h5 class="h5-title">Key Practice Areas:</h5> -->
          </div>
          <div class="service-detail-content-box">
            <ul>
              <li>
                Wrongful Termination & Unfair Dismissal: We represent clients
                who have been unlawfully or unfairly dismissed from their
                positions, fighting for their rights and appropriate
                compensation.
              </li>
              <li>
                Workplace Discrimination & Harassment: Our firm provides strong
                advocacy for individuals who have experienced discrimination or
                harassment based on gender, age, ethnicity, or other protected
                characteristics.
              </li>
              <li>
                Employment Contract Drafting & Review: We assist both employers
                and employees in drafting, reviewing, and negotiating employment
                contracts to ensure clarity and legal protection.
              </li>
              <li>
                Claims & Compensation: We expertly handle claims against
                employers, general liability claims, subrogation actions, and
                matters related to workers' compensation.
              </li>
              <li>
                Compliance & Advisory: We provide ongoing legal advice to
                businesses to ensure their policies and practices are in full
                compliance with all relevant labour laws and regulations.
              </li>
            </ul>
          </div>
          <div class="service-detail-content-box">
            <div class="row">
              <div class="col-xl-6">
                <div class="service-detail-feature-box">
                  <div class="icon">
                    <img
                      src="/assets/images/Best-Law-Advice.svg"
                      width="52"
                      height="50"
                      alt="Best Law Advice"
                    />
                  </div>
                  <div class="text">
                    <h4 class="h4-title">Best Law Advice</h4>
                    <p>Real Specialist</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="service-detail-feature-box">
                  <div class="icon">
                    <img
                      src="/assets/images/Advance-Planning.svg"
                      width="52"
                      height="50"
                      alt="Advance Planning"
                    />
                  </div>
                  <div class="text">
                    <h4 class="h4-title">Advance Planning</h4>
                    <p>Real Specialist</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="service-detail-content-box">
            <p>
              With a deep understanding of the legal landscape, our team at Dr.
              G. I. S. Omonuwa & Co. stands ready to be your trusted advisor in
              all employment law matters. We are committed to delivering the
              best legal advice and achieving the best possible results for you.
            </p>
          </div>
        </div>
      </div>
      <%- include('../partials/service-contact') %>
    </div>
  </div>
</section>
<!-- Service Detail End -->
